[2017-06-20 14:31] jac0320 opened #24 "Setup more test cases for algorithmic correction"
This involves:

- Tests on step-wise algorithmic behaviors (Added)
- Tests on solution with different instances (Added)
- GLPK as an alternative open-source LP/MIP solver in tests (Not yet)
- The tests for algorithm checking seems unstable, need to perform these tests on multiple platforms and make sure the results are stable (Checked)
- More instances (Added)

[2017-06-30 18:27] jac0320 opened #37 "arc consistency partitioning pruning scheme as an example extension for POD"
Basic Algorithm:
S1 Build complete graph G based on partition evaluations
S2 Cluster/Decompose G for sub-G
S3 Arc consistency algorithm Backtracing + Forward tracking on sub-G for partitioning pruning

[2017-08-29 22:39] harshangrjn opened #55 "Handling multi-linears with binary vars involved in the product"
Cont: Continuous
Bin: Binary

Realized this issue while looking at the gas-network formulation.

For a bilinear problem of this type, (I think) POD partitions all the cont vars which will "not" be necessary:
[code]

Before including cont vars for partitioning, it is necessary to check if they are in product with cont/bin vars. If cont*bin, since the McC constraints are exact, cont vars need not be

[2017-08-31 00:13] rb004f opened #57 "Replacing variables with constants"
in discussions with @jac0320 we noticed that in some cases bound tightening reduced variables to constants. To improve performance, we could replace variables with constants.

Suggested architecture: We can use our relaxation pattern matching architecture that already replaces constraints with their relaxation. In this case we look for any constraint that has a variable whose ub = lb, and replace

[2017-08-31 21:04] jac0320 opened #59 "Validating domain reduction methods' correctness"
As domain reduction weights more in the algorithm, it is necessary to have an efficient method to validate a variable's bound contraction implementation. Like we test strong duality during Bender's implementation,   can there be a numerical method to validate any algorithm's resulting bounds?

For example, with the linear following constraints,
0.1 <= x[i] <= 3, i=1..3
x[1] + x[2] + x[3] <= 3
It i

[2017-10-05 07:32] jac0320 opened #61 "Double check the upper bound calculation scheme with fixed partitions & Improve"
Infeasibility can be seen on some problems and POD can use excessive time to perform the initial UB on some problems.

[2017-10-05 07:34] jac0320 opened #62 "Cache solutions and load cache for algorithm test efficiency"
This will improve the overall overhead on developers during algorithm testing

[2017-10-05 07:36] jac0320 opened #63 "Automatic choosing Delta: Ep1"
A heuristic idea proposed on late Sep, test different delta at the first iteration by solving the bounding models, find the delta that is associated with the best bound reached and use that delta throughout the rest of the algorithm.

[2017-10-05 07:37] jac0320 opened #64 "Embedding Formulation and Redundancy"
This is in branch `embedding`. More descriptions coming up.

[2017-10-05 16:40] jac0320 opened #65 "Partial partitioning variable selection on multilinear terms"
We as we have the weighted minimum vertex cover scheme. Note that there lacks the consideration for multilinear (>2) terms. This can be resolved through a graph. More discussions coming up.

[2017-10-11 21:40] jac0320 opened #66 "PBT doesn't stop the loop"
Need to investigate this. on problem castro5m2, meyer10, the PBT doesn't seem to stop the loop properly.

[2017-10-11 21:47] jac0320 opened #67 "additional linear lifting detected on meyer10"
This might be the case of coef*(linear expression), where parser doesn't recognize the outer expression to be a linear term. Not enough to raise concern, but need to make sure it is done correctly.

[2017-10-29 04:46] ccoffrin opened #69 "Travis, Codecov, and Badges"
You should setup Travis, Codecov for this repo and add badges to the readme.  https://github.com/lanl-ansi/PowerModels.jl/blob/master/.travis.yml is a good example to build from.  Travis link is here, https://travis-ci.org/lanl-ansi/POD.jl

[2017-10-30 19:21] jac0320 commented on #55
As I was working on the "linking constraint" in Embedding formulation, I see that necessity in setting up a dedicated OPERATOR to recognize the binary variable products in expression and existing operators.

This OPERATOR sits in parallel with all other existing operators and converts binary variable products into "non-linear terms". This operator recognize the general form,
[code]

To resolve the

[2017-11-01 01:07] #69 closed

[2017-11-06 15:22] jac0320 commented on #66
The initial investigation indicates this is a parameter issue, i.e., improve threshold is small so that POD will continue to run many iterations. Further & more careful investigation is needed

[2017-11-17 17:22] #66 closed

[2017-11-21 23:42] #24 closed

[2017-11-23 18:32] jac0320 commented on #61
@harshangrjn The code has been examined for this issue. So far, no bug has been detected when fixing the local solve's bounds. I also explored a few different ways to fix the bounds, which didn't resolve the difficulties in finding feasible solutions to some hard problems.

[2017-11-23 18:32] #61 closed

[2017-11-28 05:43] jac0320 commented on #57
Another comment: directly doing this is not as easy as it seems. As the model is parsed into MPB for upper bound search, deleting a variable is not easy since the abstraction layer is fairly raw. But this definitely motivates a different design of data structure which has more control of the raw model data.

[2018-03-07 23:57] jac0320 opened #78 "Merging jac0320/POD.jl to lanl-ansi/POD.jl"
@harshangrjn @kaarthiksundar @rb004f

So the jac0320/POD.jl contains all new features we have so far for research purposes. The roadmap can be captured at these PRs with jac0320/POD.jl. (https://github.com/jac0320/POD.jl/pulls?q=is%3Apr+is%3Aclosed)

As it is important to NOT to merge everything all together to lanl-ansi/POD.jl. A feasible solution is to re-code the steps and creat PRs at lanl-ans

[2018-06-12 16:18] #78 closed

[2018-06-21 15:54] jac0320 opened #79 "request presolve algorithm feature with convex constraint detection is on"
@kaarthiksundar asked to do this

Include a solver option called is_convex::Bool (default set to false).

If is_convex is true - then do to the following
1. Allow for BT iff bound tightening option is set to true and then do one local solve to get the optimal solution.
2. If BT is set to false then just do one local solve to get the optimal solution.

In this way our solver can handle convex probl

[2018-06-21 16:08] jac0320 commented on #64
This issue is closed given #73 is merged.

[2018-06-21 16:08] #64 closed

[2018-06-21 16:09] jac0320 commented on #63
A primary implementation for detecting delta is done as #74 is merged.

[2018-06-21 16:09] #63 closed

[2018-06-21 16:10] jac0320 commented on #55
A series of implementation is done as #72 is merged. Still, more checking and test cases are required

[2018-06-21 16:10] #55 closed

[2018-06-22 00:44] jac0320 commented on #67
This issue goes away as #75 is merged.

[2018-06-22 00:44] #67 closed

[2018-09-07 02:32] CanLi1 opened #86 "Generate convex relaxations for nonconvex MINLPs"
Hi,

I have a question regarding using the code of POD.jl. Suppose I have a nonconvex MINLP written as a JuMP model. I wonder if I can use some piece of the code to generate a convex relaxation for this nonconvex MINLP and return the convex relaxation as a JuMP or MathProgBase model. It would be great if this can be done. Other convex relaxations may be implemented to compare with the existing one

[2018-09-27 20:10] kaarthiksundar commented on #86
Yes, this can be done - but not in the way you are mentioning. POD does create a convex relaxation model underneath. It is just that, we have not implemented functions where the user can get a handle on that model. This is feature that we will work on in some time. We are in the process or making bug fixes and releasing a version 0.1. After that, I should have some time to implement the feature th

[2018-09-27 23:40] harshangrjn commented on #86
@CanLi1 For your non convex MINLP, are you looking at variants of your piecewise relaxations (like the way POD.jl iterates) or just the basic relaxation of the MINLP (which is our 0th iteration)?

[2018-09-27 23:44] CanLi1 commented on #86
@harshangrjn It would be great if the piecewise relaxations can be accessible.

[2018-11-01 16:10] harshangrjn opened #88 "Piecewise quadratic relaxations"
Can you confirm, for the piecewise relaxation of the quadratic term in POD, is formulation (5) of https://arxiv.org/pdf/1707.02514.pdf implemented? From function "amp_post_tmc_monomial_mc" it looks like (5) is implemented. If so, the additional cuts we derived on \hat{Y} matrix can be added to strengthen the formulation.

[2018-11-06 07:12] harshangrjn commented on #88
@kaarthiksundar?

[2018-11-06 14:10] kaarthiksundar commented on #88
You are correct - that is what is implemented.

[2018-11-06 14:53] harshangrjn commented on #88
Then what about the additional cuts on Y-hat matrix?

[2018-11-06 15:14] kaarthiksundar commented on #88
Not in priority list for now. I will may be get to it early next year. For now, this I am trying to get done before year end are getting POD to work in Julia 0.7 and Julia 1.0 and then rewriting tests and some general code clean up. This will take at least 2-3 months. Feel free to add the cuts and submit a PR, if you want them implemented asap.

[2018-12-11 17:43] attobot opened #90 "Error tagging new release"
The tag name "v0.1" is not of the appropriate SemVer form (vX.Y.Z).
cc: @kaarthiksundar

[2018-12-11 18:08] ccoffrin commented on #90
Needs to be v0.1.0

[2018-12-11 18:08] ccoffrin commented on #90
Make sure to delete the release and the tag, then re-release.

[2018-12-11 18:40] ccoffrin commented on #90
The tag v0.1 still needs to be deleted.

[2018-12-11 18:41] kaarthiksundar commented on #90
Deleted now.

On Tue, 11 Dec 2018 at 11:40, Carleton Coffrin <notifications@github.com>
wrote:

[2018-12-11 18:44] ccoffrin commented on #90
You probably need to re-do the release to re-trigger the metadata PR.

[2018-12-11 18:47] kaarthiksundar commented on #90
Deleted everything and started fresh.

On Tue, 11 Dec 2018 at 11:44, Carleton Coffrin <notifications@github.com>
wrote:

[2018-12-17 17:42] mmerakli opened #92 "How to use POD on Julia 1.0"
The following code gives the error
"Problem is a MINLP and no MINLP local solver given; use minlp_solver to specify a MINLP local solver."

This used to work on 0.6. Do I need to change anything or is this expected?

[code]

[2018-12-17 17:46] harshangrjn commented on #92
Yes! The support for automatic solver selection in v1.0 has been removed.

Just FYI, we do not currently support trigonometric functions.

[2018-12-17 17:49] mmerakli commented on #92
@odow made the example. What should I do instead? I have nonlinear constraints with bilinear terms.

[2018-12-17 17:52] kaarthiksundar commented on #92
@mmerakli

[code]
replace "some MINLP solver" with a suitable MINLP solver.
Also, trigonometric functions are currently not supported.
Just add your bilinear constraints using @NLconstraint and it should work.

[2018-12-17 18:08] ccoffrin commented on #92
To avoid the trig function you can try something like,
[code]

[2018-12-17 18:10] odow commented on #92
The real problem isn't trig, I just made that up (and obviously failed) as a MWE

[2018-12-17 18:13] harshangrjn commented on #92
@odow If you have a MINLP, preferably use Bonmin as your local solver. Juniper.jl is also an alternative. But for a pure NLP, Ipopt will serve the purpose.

[2018-12-17 18:22] odow commented on #92
We're just installing Bonmin now. This can be closed. (Although some documentation for POD would be nice :))

[2018-12-17 18:24] harshangrjn commented on #92
@odow We agree and are working on a proper documentation. Thanks!

[2018-12-17 18:24] #92 closed

[2019-01-18 14:49] ccoffrin opened #95 "Debug Flag"
A good logger will support debugging messages, that would be preferable to the `ALPINE_DEBUG` flag.

[2019-01-19 01:11] ccoffrin opened #96 "Setup Documenter Deployment"
One this is done set the repo website to point to the stable docs.

[2019-01-19 01:30] kaarthiksundar commented on #95
What is your opinion on using using Memento?

[2019-01-19 02:19] ccoffrin commented on #95
Seems like the best option until there is a clear example of how to use the
built in logger.

On Fri, Jan 18, 2019 at 6:30 PM Kaarthik Sundar <notifications@github.com>
wrote:

[2019-01-30 17:01] ccoffrin commented on #96
Deployment is now setup.  @kaarthiksundar, @harshangrjn you might want to touch up the docs.

[2019-01-30 17:02] kaarthiksundar commented on #96
Okay, will do this.

[2019-01-30 17:03] #96 closed

[2019-02-06 01:56] krishpat opened #97 "Cplex solver with Alpine"
Alpine looks interesting and I am trying to use it for some non convex problems. But I get this error when I run the following code. Is this because Alpine doesn't support CPLEX?

Code:
[code]
Error:
[code]

[2019-02-06 21:50] kaarthiksundar commented on #97
The bug is fixed. Please update Alpine and then try.

[2019-02-06 22:34] krishpat commented on #97
It works now. Thanks.

[2019-02-07 04:02] krishpat commented on #97
Now I am having another issue. Running the above code with Gurobi as the MIP solver is giving an error. Is this a similar issue as CPLEX?

[2019-02-07 04:04] harshangrjn commented on #97
@krishpat We are aware of this issue. Will let you know once fixed.

[2019-02-08 13:03] matbesancon opened #98 "What's required for other solvers to be used?"
I want to compare Alpine + SCIP with SCIP only for a MIP with bilinear terms. What would be required for new solvers to be added?

[2019-02-08 13:56] kaarthiksundar commented on #98
SCIP itself is a global solver. What do you mean when you say Alpine + SCIP

[2019-02-08 13:57] matbesancon commented on #98
SCIP solves mixed-integer linear problems (there is a non-linear part but I intended to use it for its MILP)

[2019-02-08 15:36] harshangrjn commented on #98
As of now, Alpine does not support SCIP to be used as the MIP solver. You can use CPLEX, Gurobi or CBC.  Alpine's performance is the best when CPLEX or Gurobi is used.

[2019-02-08 16:59] krishpat commented on #98
I had a similar question on how to use SCIP as the MIP solver for Alpine as it is somewhat an open source and probably better than CBC.

[2019-02-08 17:22] krishpat opened #99 "Invalid coefficient -Inf error"
I am trying to use Alpine to globally optimize this NLP

[code]
Alpine complains saying "ERROR: LoadError: Invalid coefficient -Inf on variable A2[1]". But there is also a warning initially saying
"Inf bound detected on 4 variables. Initialize with value -/+10000.0. This may affect global optimality and performance."

Ipopt seems to return a local optimal point but Alpine gets stuck in the presolv

[2019-02-08 17:27] harshangrjn commented on #99
@krishpat: There is a bug in Alpine in the way upper bounds are assigned to the variables which are not bounded above. We need to fix that.

But a quick fix for this issue is by initializing the variables with a large UB. Say,
[code]
By doing so, Alpine converges to the Global optimum. Here is the log of tightened bounds:
[code]
And the iterations of Alpine:
[code]
As you can see, Ipopt finds a lo

[2019-02-08 17:37] krishpat commented on #99
@harshangrjn Thanks for the fix. I also didn't realize the global optimum would be at (6,0).

Doesn't this warning "Initialize with value -/+10000.0" imply that Alpine has automatically assigned these upper bounds to the variables.

On a different note, does Alpine recognize that only the objective is non-convex but not the constraints?

[2019-02-08 19:37] harshangrjn commented on #99
On your question on convexity check, Alpine currently does not recognize your constraints as convex. The only convex recognitions are for constraints of the standard quadratic and conic form, which can be seen in this file: https://github.com/lanl-ansi/Alpine.jl/blob/fe9b7c7f934c39f008f00d25ab43642cb7a94393/src/operators.jl#L1229

[2019-02-09 02:33] krishpat commented on #99
Not related to this thread but was curious. Does Alpine support functions of type f(x,y) = x/y over a rectangle in the positive orthant?

[2019-02-09 02:34] harshangrjn commented on #99
@krishpat Not yet! It is on our to-do list.

[2019-02-09 05:28] ccoffrin commented on #99
Usually you can re-formulate constraints of the form `z = x/y` into `y*z = x`.  This one of the reasons `x/y` has not yet been a high priority.

[2019-02-09 14:58] kaarthiksundar opened #101 "MOI wrapper and JuMP v0.19"
Remove MPB dependency and move to an MOI interface. This also drops support for Julia 0.6 and 0.7 completely.

[2019-02-09 15:00] kaarthiksundar commented on #97
Closing. See
https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-02-09 15:00] #97 closed

[2019-02-09 15:01] kaarthiksundar commented on #98
Closing.
https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-02-09 15:01] #98 closed

[2019-02-09 15:02] kaarthiksundar commented on #99
Closing.
https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-02-09 15:02] #99 closed

[2019-02-09 15:02] kaarthiksundar commented on #95
https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-02-09 15:02] #95 closed

[2019-02-09 15:05] kaarthiksundar commented on #101
Other feature list:

1. SCIP support with SCIP’s MOI interface.
2. Logging using Memento.jl
3. Solver support clean up.
4. Error when model has unbounded variables.
5. Explicitly drop support for integer and support only binary variables.

[2019-02-09 15:10] #65 closed

[2019-02-09 15:12] kaarthiksundar commented on #57
Can lead to numerical issues. Leave the onus on the user to remove redundancies.

[2019-02-09 15:12] #57 closed

[2019-02-09 15:36] kaarthiksundar commented on #88
@harshangrjn  Have no plans from my side to implement and test this. Let me know if you are planning on doing this. Otherwise we can close this issue.

[2019-02-09 16:47] harshangrjn commented on #88
Let this stay open until we finalize the best formulation.

[2019-02-09 17:13] harshangrjn commented on #101
Since #97 was closed, adding this here. Alpine currently throws error with Gurobi as the mip_solver. This also needs to be fixed.

[2019-02-09 20:32] kaarthiksundar commented on #101
@harshangrjn fyi, this is not going to get released in the near future; I see this getting done end of the calendar year. I am first working on doing this update for Juniper.jl to figure out MOI. Also this update will work only when other solvers are updated to use MOI, for instance Bonmin does not work with the new MOI now and no MINLP local solvers do (hence the push for Juniper.jl so that I can

[2019-02-09 20:46] harshangrjn commented on #101
@kaarthiksundar The reason #97 issue was brought back here was because it was closed without solving the Gurobi issue in it. Before closing issues, its probably better to ensure separate new issues are created if there are multiple ones in the same thread, just so that they are not lost.

[2019-02-10 22:40] krishpat commented on #101
Supporting Alpine with Gurobi as the mip_solver will be helpful as Gurobi seems to do better on MIQCPs compared to CPLEX, assuming MIQCPs are in every iteration of the algorithm.

[2019-02-10 23:14] krishpat opened #102 "Bug in bound tightening with symmetric bounds"
I am running this NLP and Alpine seems to have a bug in bound tightening:
[code]
When LB = -1000 and UB = 1000, after bound tightening it displays
[code]
Gap in Iter 1 is "LARGE" and converges to Global optimum in 45s.

But, when LB = -1000 and UB = 1000.1, after bound tightening it displays
[code]
Gap in Iter 1 is 89.34% and converges to Global optimum in 3.6s.

I tested this for various values o

[2019-02-10 23:20] harshangrjn commented on #102
@krishpat Good catch! Will get back to once we look at it.

[2019-02-10 23:21] krishpat commented on #88
@harshangrjn Is there a paper where you have these cuts on \hat{Y} matrix explained? I can try to implement them and test.

[2019-02-10 23:23] harshangrjn commented on #88
@krishpat Not really! They are simple cuts on the space of lifted variables. I can type them up and share it soon.

[2019-02-11 00:10] kaarthiksundar commented on #102
@krishpat First thing, your first run time is huge with symmetric bounds because of precompiling. When everything is precompiled, for the case with LB = -1000 and UB = 1000, the run time on my machine is 2 seconds.

Secondly, for the problem you have, with symmetric bounds, the initial local solve is infeasible. When we do bound-tightening (with the local solve being feasible and say the local obj

[2019-02-11 04:18] krishpat commented on #102
@kaarthiksundar Thanks. The run time I mentioned for the symmetric bounds case was excluding the precompiling, that is, running the same problem for second time in the Julia console. I am still seeing large run times. Here is the last iteration:
 | 58.3837       | 58.3801       || 58.3837       | 58.3801       | 0.00613       | 44.31s        | | finish

Changing the LB and UB to -10^4 to 10^4, Alp

[2019-02-11 04:19] harshangrjn commented on #102
@kaarthiksundar I also see that the run time for symmetric case is quite high, like around 42.3 s excluding the precompiling time.

[2019-02-11 04:31] harshangrjn commented on #102
@krishpat Here is a workaround to make Ipopt converge to a feasible point in case of symmetric bounds also. Warm-start Ipopt with a trivial feasible solution for your constraint by adding these lines to your formulation.
[code]

[2019-02-11 14:30] kaarthiksundar commented on #88
@harshangrjn If you look more closely in Eq (5) of https://arxiv.org/pdf/1707.02514.pdf, you will see that no \hat{Y} matrix is needed. In fact Eq. (5) is exactly what is implemented without the \hat{Y} matrix since Eq (5) is already linear. No additional binary variables required. It is needed only for the Piecewise McCormick constraints and not in the piecewise quadratic relaxations, in which ca

[2019-02-11 15:16] kaarthiksundar commented on #102
@krishpat I still get some discrepancy with the time and I do not know why. But the last iteration matches.
[code]
As for your question on LB and UB being -10^4 and 10^4, I am not able to replicate the 10 iteration BT procedure. In my local system, it ends in 1 iteration and bounds are not tightened because of no feasible local optimal solution produced by Ipopt. Can you recheck?

[2019-02-11 16:51] harshangrjn commented on #88
Yes! Unlike piecewise McCormick formulation, the piecewise quadratic relaxation doesn't require a lifted variable matrix. Thanks to @krishpat for re-initiating this thread as it can be closed now.

Btw, its not really a typo in the paper as the formulation and linearization are still right. Except that the lifted variable matrix variables are not binary and instead belong to [0,1]. Since anyway on

[2019-02-11 16:51] #88 closed

[2019-02-11 16:55] harshangrjn commented on #102
Like @krishpat, I am also observing 10 iterations in bound tightening when the bounds are -10^4 and 10^4.

[2019-02-11 17:08] harshangrjn commented on #102
@krishpat As a matter of fact, the point with which you warm start does not have to be feasible too. You can choose any random point in the domain of variables **except the origin** to make the Ipopt converge to a feasible solution as Ipopt doesn't seem to like the (0,0) point.

[2019-02-11 17:11] kaarthiksundar commented on #102
@harshangrjn I would recommend you to take a look at the internal logs to figure out of there is a bug and if there is one, fix it. I am not able to replicate it in both my systems.

[2019-02-11 18:52] kaarthiksundar commented on #102
@krishpat This is due to a solver issue. I was using CPLEX 12.7 and you and @harshangrjn  were using CPLEX 12.8. I was able to replicate the issue with CPLEX 12.8. And after 10 iterations, the bounds are indeed getting contracted slightly. So to answer your question - the bounds do get contracted after 10 iterations. But as Harsha suggested, a warm start will help to improve the performance of the

[2019-02-11 18:52] #102 closed

[2019-02-11 18:54] kaarthiksundar commented on #101
@krishpat @harshangrjn Please try using Gurobi in the master branch. It should work now.

[2019-02-12 17:31] harshangrjn commented on #101
@kaarthiksundar Thanks!

[2019-02-14 05:15] krishpat opened #103 "Relative gap evaluation"
Consider this NLP:
[code]

Here is Alpine's log of the output :
[code]

1. Why does Alpine go upto 23 Iterations when Iter 6 was global minimum within the optimality tolerance?
2. Why are the gaps displayed as `LARGE` when the gaps are actually small? Is it because the upper bound (0) value is in the denominator of the gap?
3. Wonder how did Alpine converge when both LB and UB reached 0 in the las

[2019-02-14 05:29] harshangrjn commented on #103
Firstly, your objective is convex and you wouldn't need Alpine for this. :) That said, we are currently working on including convexity detection for objectives of this type.

Regarding your issues, currently the way we are evaluating the relative gap when upper bound is 0 is not fully right, which will be fixed soon.

[2019-02-15 06:10] krishpat opened #104 "Error in convexification of monomials"
Consider this NLP:
[code]
Alpine throws this error
[code]
But the same objective when encoded in either of the following forms, Alpine runs fine
[code]
Tried looking at the code but couldn't locate the source of the bug and hence reporting.

[2019-02-17 21:36] krishpat opened #105 "Slow run times for polynomial minimization"
When I run this simple problem of minimizing a bivariate polynomial on a laptop,
[code]

Alpine gets stuck in Iteration-2 and doesn't converge even after ~1000s. Also, Alpine displays the following stats about the problem:
[code]

1. Why is Alpine recognizing 2 multilinear terms when there are no multilinears in this problem? Are x[1]^4 and x[2]^8 recognized as multilinears?
2. Is there any parame

[2019-02-17 21:40] harshangrjn commented on #105
@krishpat, This is a good example.

1. Internally, by default, the way Alpine is currently handling higher-order monomials (x^4, x^8) is by lifting x^8 to y1.y2.y3.y4 such that y_i=x^2 i=1,..,4 and treating y1.y2.y3.y4 as a multilinear term. Hence, Alpine is reporting 2 multilinears, each for x^4 and x^8. We are currently working on fixing this reformulation, which can improve rum-times drasticall

[2019-02-17 21:41] harshangrjn commented on #105
Let me know if this addresses your issue and I shall close this.

[2019-02-17 21:44] krishpat commented on #105
@harshangrjn Run time improvements are amazing. Thanks for addressing this issue. Will be good to have this reformulation default in Alpine and also have this documented somewhere.

[2019-02-17 21:44] harshangrjn commented on #105
@krishpat Agreed! We are working on it.

[2019-02-17 21:44] #105 closed

[2019-02-21 23:07] krishpat opened #106 "Error messages for unsupported functions"
Consider this NLP
[code]
1. When F = log(x[1]),  Alpine displays `ERROR: LoadError: Unkown/unspported operator log` before Ipopt is invoked.

2. When F = sin(x[1]), Alpine invokes Ipopt to obtain a local point and then displays `ERROR: LoadError: Integer features are OFF. No support for INTLIN at this condition.` Not sure why Ipopt was invoked and what this error message means.

3. When F = x[1]/x

[2019-02-22 07:05] harshangrjn commented on #106
These issues have been fixed. Pull the master branch and you will see consistent error messages. In your case, messages are:
1. `ERROR: LoadError: Alpine does not currently support log operator acting on a variable`
2. `ERROR: LoadError: Alpine does not currently support sin operator acting on a variable`
3. `ERROR: LoadError: Alpine does not currently support / operator with a variable in the den

[2019-02-22 07:15] krishpat commented on #106
@harshangrjn Thanks for addressing these issues. I see another issue now. When F = x[1]^1, Alpine displays this error: `ERROR: LoadError: Alpine currently supports `^` operator with only positive integer exponents`

Look like Alpine is not recognizing and replacing x[1]^1 with x[1].

[2019-02-23 19:15] harshangrjn commented on #106
@krishpat F = x[1]^1 case has been fixed. You can update Alpine since the new version has been released. Or you can even pull the master branch.

Thanks to @kaarthiksundar for the help!

[2019-02-23 19:15] #106 closed

[2019-02-23 19:18] krishpat commented on #106
@harshangrjn Thanks for the fix. Alpine's log looks very neat now. 👍

[2019-02-26 07:08] krishpat opened #108 "Bugs in Lower bounding iterations!!"
Case 1 - Consider this NLP:
[code]
In this case, Alpine's lower bounding iterations look like
[code]
In the above output, there is clearly a problem as the lower bound of Iteration 7 flips and becomes greater than the best incumbent which cannot be possible. So, there is some bug in either the incumbent evaluation or the lower bounds.

Case 2 - Consider the same NLP as above but with constraints 1

[2019-02-26 07:11] harshangrjn commented on #108
@krishpat Did you try running your problem by projecting our y[1], y[2], y[3] and y[4] and running it as an unconstrained NLP?

That said, there is surely some bug in the lower bounding which needs to be fixed. Thanks for catching this.

[2019-02-26 07:14] krishpat commented on #108
I already tried that but the lower bounding iterations get stuck in large bounds. Hence took this route of lifting.

[2019-02-27 18:40] harshangrjn commented on #108
Here is a simpler version of the NLP which has a similar issue as above to help us debug:
[code]

[2019-03-01 18:28] harshangrjn commented on #108
@krishpat A bug has been fixed which partly solved the issue. But it took some time for us to realize that the real issue in lower bounding was because of CPLEX's Presolve turned on, which was creating incorrect bounding MIQCPs. Once CPLEX's presolve was turned off, Alpine runs fine where the lower bounds are correct. As expected, the run times are slow since the presolve is turned off. Here are t

[2019-03-01 18:31] krishpat commented on #108
@harshangrjn Thanks for fixing this. Its very surprising that the presolve of CPLEX is buggy. Does this happen particularly with MIQCPs or with MILPs too?

And can you show me how to turn off the Presolve?

[2019-03-01 18:33] harshangrjn commented on #108
@krishpat So far, I have observed issues of presolve only for MIQCPs. This needs to be reported to CPLEX.

Here is what I used for creating the model:
[code]

[2019-03-14 16:49] krishpat opened #109 "Warning messages on bounds"
Consider this NLP
[code]
Alpine solves it fine but displays this warning:
[code]
Why are these large bounds assigned when tight bounds can be derived on lifted variables during convexification? For example, if x3 => x1^4, x4 => x[2]^2 and x5 => x1*x4, then the bounds can be x3, x4 \in [0,1] and x5 \in [-1,1].

[2019-03-21 02:19] krishpat commented on #109
When I run a variant of the above problem, I am observing another issue which seems like a bug in Alpine. I am running this problem by turning off the presolve in Cplex (as suggested in #108) but still the lower bound is crossing the best incumbent.
[code]
And, I get this log in Alpine where the iterations get stuck:
[code]
Global optimum as per Baron is `-646330.407`, which matches Alpine's best

[2019-03-21 02:44] harshangrjn commented on #109
@krishpat Thanks for raising these issues as they were helpful to fix the bug. Bounds assigned on lifted variables were incorrect, which has been fixed. Also the warning message issue is fixed.
Here are the outputs:

With default options, Alpine converges in one iteration
[code]
With presolve turned off (preserve_bt=0), Alpine converges in nine iterations
[code]

[2019-03-22 03:18] krishpat commented on #109
Thanks @harshangrjn for fixing these issues. I am on v0.1.7 now.

[2019-03-22 03:18] #109 closed

[2019-03-29 21:16] waynelapierre opened #111 "Compatible with JuMP v0.19"
When will Alpine work with JuMP 0.19?

[2019-03-29 21:18] kaarthiksundar commented on #111
Work is in progress. It might take a few more months. The transition is in the branch entitled moi-wrapper

[2019-03-29 21:19] kaarthiksundar commented on #111
https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-03-29 21:20] waynelapierre commented on #111
How about the time line of Juniper?

[2019-03-29 21:21] kaarthiksundar commented on #111
Juniper will be released in two weeks time.

[2019-03-29 21:22] waynelapierre commented on #111
Does the new Juniper support user defined functions?

[2019-03-29 21:25] kaarthiksundar commented on #111
Can you be more specific. What do you mean by user defined function? Can you also post juniper related functions in Juniper.jl. cc: @Wikunia @ccoffrin

[2019-03-29 21:28] waynelapierre commented on #111
I mean if I have a complicated nonlinear objective function, and my parameters are purely integers, can Juniper optimize such issues?

[2019-03-29 21:30] kaarthiksundar commented on #111
Yes, it can. If there is a specific problem that is of interest and does not work, you can post it as an issue in Juniper.jl.

[2019-04-16 22:52] kaarthiksundar opened #112 "test"
Welcome to Alpine! You can use this Github issue to suggest a new feature for Alpine.

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternat

[2019-04-16 22:53] #112 closed

[2019-04-17 00:38] harshangrjn opened #113 "Test"
**Describe the bug**
A clear and concise description of what the bug is. Simple examples which reproduce the bug will be helpful.

[2019-04-17 00:39] #113 closed

[2019-04-25 00:57] ericphanson opened #114 "Quadratic objective with SDP constraints"
Is it possible to use Alpine for such a problem? It seems like JuMP 18.5 does not accept such problems when I try to formulate one for use with Alpine:

ERROR: JuMP does not support quadratic objectives for conic problems

[2019-04-25 03:42] kaarthiksundar commented on #114
Currently Alpine.jl does not support SDP constraints

[2019-04-25 05:50] ccoffrin commented on #114
If your problem is convex give SCS, Mosek or Pajarito a try.

[2019-04-25 14:22] ericphanson commented on #114
Ah ok, thanks for letting me know. Unfortunately SCS and Mosek don't support quadratic objectives, and Pajarito yields the same problem with "ERROR: JuMP does not support quadratic objectives for conic problems" since it seems to be a limitation of MathProgBase (though maybe I can try to fool it with a dummy variable). Thanks again!

[2019-04-25 14:22] #114 closed

[2019-04-25 16:04] ccoffrin commented on #114
Oh, I didn't realize.  You can always add lifted variables to turn the objective into a linear one.

[2019-04-25 17:33] harshangrjn commented on #114
I don't JuMP supports quadratic and conic constraints too. So lifting may not help.

[2019-04-25 17:38] harshangrjn commented on #114
@ericphanson But a work around is that you can write a (simple) quadratic constraint in the SDP form. For example: x^2 <= y*z can be written as an SDP constraint as follows: [x y; z x] \succeq 0

[2019-04-25 18:18] ccoffrin commented on #114
In JuMP v0.18 you can use `norm` in the conic api.  An example in PowerModels, https://github.com/lanl-ansi/PowerModels.jl/blob/master/src/core/objective.jl#L178

[2019-04-25 19:05] stumarcus576 opened #115 "0.6.4"
When I try to add the Alpine package to Julia v 0.6.4, I get the error below. Is Alpine compatible with this version of Julia?

Pkg.add("Alpine")
ERROR: unknown package Alpine
macro expansion at ./pkg/entry.jl:53 [inlined]
(::Base.Pkg.Entry.##1#3{String,Base.Pkg.Types.VersionSet})() at ./task.jl:335
Stacktrace:
 [1] sync_end() at ./task.jl:287
 [2] macro expansion at ./task.jl:303 [inlined]
 [3] a

[2019-04-25 19:10] stumarcus576 opened #116 "warmstart"
I get the following error when I set the MINLP solver to bonmin in the Alpine solver in Julia v0.7.0:

PRESOLVE
  Doing local search
ERROR: LoadError: MethodError: no method matching setwarmstart!(::AmplNLWriter.AmplNLMathProgModel, ::Array{Any,1})
Closest candidates are:
  setwarmstart!(::AmplNLWriter.AmplNLMathProgModel, !Matched::Array{Float64,1}) at /Users/a598124/.julia/packages/AmplNLWriter/

[2019-04-25 19:14] stumarcus576 opened #117 "pavito issue"
I get the error below when the MINLP solver is pavito in the Alpine solver in Julia v0.7.0.

Initial constraint-based bound evaluation exhausted...

PROBLEM STATISTICS
  # of constraints = 14
  # of non-linear constraints = 1
  # of linear constraints = 13
  # of continuous variables = 7
  # of binary variables = 9
  # of integer variables = 0
  # of detected convex constraints = 0
  # of detected

[2019-04-25 19:27] kaarthiksundar commented on #117
@stumarcus576 As you mentioned, this is a Pavito issue. Pavito does not accept two-sided constraints. You have to model it in a form that Pavito can solve it.

[2019-04-25 19:38] ericphanson commented on #114
Thanks for the suggestions :). I'm not sure whether or not these things can work in my case. I don't think the problem is convex; for example, I tried COSMO.jl on JuMP 19, and it transforms my problem into the COSMO.jl form shown here: https://oxfordcontrol.github.io/COSMO.jl/stable/. After that transformation, the matrix `P` I get out is not PSD, which I think reflects a non-convexity in the orig

[2019-04-25 21:52] harshangrjn commented on #114
@ericphanson Are the elements of your Phi matrix binary variables since you mention that it is a permutation matrix? If they are indeed binaries, based on your objective function description, you should be able to get rid of all your nonlinearities by replacing every Phi_ij * X_ij with a set of auxiliary variables, say \hat{phi}_ij, and the following constraints:
[code]
Note that the above lineari

[2019-04-25 22:21] ericphanson commented on #114
Wow, that's great! Thank you, I will try this (and of course cite the paper if indeed this makes it into our work). Yes, they are binary ideally-- I figured I might have to relax them to be in [0,1] since I thought that might be easier than an integer program, but maybe not then! Based on the earlier comments I already tried replacing the products with auxiliary variables, but I didn't think of an

[2019-04-25 22:31] harshangrjn commented on #114
👍 I will be now curious to see how well Pajarito.jl would do on your problem. :)

[2019-04-25 23:04] ericphanson commented on #114
Pajarito solved my test problem exactly, in only 28 seconds! I am impressed. Well, with CSDP as the SDP solver it ran for a few minutes and then segfaulted, but with Mosek it worked perfectly. I'm now trying on a bigger version of the problem, but I might just come back in the morning and see how it did, since it will likely take awhile.

[2019-04-26 02:33] harshangrjn commented on #116
@stumarcus576 Did you try running with Alpine from current master, which is ahead of the v0.7.0? It has some bug fixes related to what you have posted. Try and let us know!

[2019-04-26 16:00] stumarcus576 commented on #117
The error says Pavito does not accept nonlinear equality constraints? I have a nonlinear equality constraint in my MINLP:
@NLconstraint(m,volume == x[1]*x[2]*x[3])
@objective(m,Min,volume)
In my MINLP, I want to minimize the volume and there are upper and lower bounds on the volume. How would I code this up to be compatible with Pavito? Must I remove the bounds and set the objective directly to @o

[2019-04-26 16:30] stumarcus576 commented on #117
I can set the nonlinear objective via: @NLobjective(m,Min,x[1]*x[2]*x[3])
Alpline with Pavito is able to solve my MINLP. But I still need to impose a lower bound on the objective. Is it possible to do this?

[2019-04-26 16:47] stumarcus576 opened #118 "bounds error"
I get the following error. Might this have something to do with Julia v0.6.4 vs v0.7?

ERROR: LoadError: BoundsError: attempt to access 3×5 Array{Variable,2} at index [1, 1, 5]
Stacktrace:
 [1] macro expansion at ./array.jl:732 [inlined]
 [2] MVB_MINLP_Alpine(::Array{Float64,2}, ::Bool, ::AlpineSolver, ::Bool, ::Bool, ::Array{Int64,1}, ::Array{Int64,1}, ::Float64, ::Float64) at /Users/a598124/juli

[2019-04-26 17:53] harshangrjn commented on #118
Does this run fine in v0.6.4 but not in v0.7? It looks like an error in accessing your variables. Post a simple version of the code which reproduces this error.

[2019-04-26 18:07] stumarcus576 commented on #116
Are there instructions explaining how to do "running with Alpine from current master"?

[2019-04-26 18:09] stumarcus576 commented on #118
The code works okay in v0.6.4, but using P.W.L. of the nonlinear objective and solving the model as a MILP, since I can't install Alpine in v0.6.4.

[2019-04-26 18:11] harshangrjn commented on #117
@stumarcus576 You can solve this problem directly using Alpine and Ipopt, assuming that you do not have any binary variables. If you have binaries, just invoke your favorite MINLP local solver and add it as an option as shown below. Here is a sample code for which Alpine computes the global optimum for the NLP.
[code]
Solution: Objective value: 1.9999, x^opt values[0.21298, 4.65403, 2.01774]

Hope

[2019-04-26 18:22] stumarcus576 commented on #118
The error says: attempt to access 3×5 Array{Variable,2} at index [1, 1, 5]. Does Variable refer exclusively to a continuous variable rather than a binary variable? In this instance of my model, n=5. In my model, there is a 3x5 matrix X of continuous variables defined as follows:
@variable(m,0 <= X[d=1:3,i=1:n] <= upper_x[d]-min_p[i]) # coordinates of left-back-bottom corner of each carton
If the e

[2019-04-26 18:25] stumarcus576 commented on #117
Yes, I do have binaries in my model. What are the other options for a local MINLP solver besides Pavito and bonmin (bonmin is not working right now as per another issue posted recently)?

[2019-04-26 18:35] harshangrjn commented on #117
Here is the MINLP version which you can solve using Juniper.jl as the local MINLP solver.
[code]
Optimal values: 2.0, x values[0.42409, 4.71595], y=1.0

I am able to run this with JuMP v0.18.5 and Julia 1.1. Also, I would suggest you to upgrade Julia to >v1.0.

[2019-04-26 18:40] harshangrjn commented on #116
Plz wait and we shall release a newer version today, after which you will be able to just update the package.

[2019-04-26 18:44] stumarcus576 commented on #117
I get the error below using Julia 0.7 and JuMP 0.18:

ERROR: LoadError: Unsupported MINLP local solver Juniper.JuniperSolverObj(IpoptSolver(Tuple[(:print_level, 0), (:sb, "yes")]), log_levels                          : Symbol[:Options, :Table, :Info]
atol                                : 1.0e-6
num_resolve_root_relaxation         : 3
branch_strategy                     : StrongPseudoCost
gain_mu

[2019-04-26 18:48] harshangrjn commented on #117
This is because you are on the older version of Alpine. Today's release will address this issue.

[2019-04-26 19:07] stumarcus576 commented on #117
Shall I just update the Package via Pkg.update("Alpine")?

[2019-04-26 20:04] harshangrjn commented on #117
https://github.com/lanl-ansi/Alpine.jl/releases/tag/v0.1.8 just got released. Try updating your package and see if it works.

[2019-04-26 20:28] stumarcus576 commented on #117
I got the same or similar error after updating the package.

ERROR: LoadError: Unsupported MINLP local solver Juniper.JuniperSolverObj(IpoptSolver(Tuple[(:print_level, 0), (:sb, "yes")]), log_levels                          : Symbol[:Options, :Table, :Info]
atol                                : 1.0e-6
num_resolve_root_relaxation         : 3
branch_strategy                     : StrongPseudoCost
ga

[2019-04-26 21:33] harshangrjn commented on #117
Did you make sure the version is 0.1.8 when you check Pkg.status()?

[2019-04-26 21:58] stumarcus576 commented on #117
Pkg.status() says the version is 0.1.7.

When I do Pkg.update("Alpine"):

julia> Pkg.update("Alpine")
WARNING: Base.Pkg is deprecated, run `using Pkg` instead
 in module Main
  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
  Updating `~/.julia/environments/v0.7/Project.toml`
 [no changes]
  Upd

[2019-04-27 14:08] harshangrjn commented on #117
Your Alpine isn't updated yet. First run 'using Pkg' and then run  'Pkg.update("Alpine")'

[2019-04-27 18:04] stumarcus576 commented on #117
I just did that but it didn't get version 0.1.7.

julia> using Pkg

julia> Pkg.update("Alpine")
WARNING: Base.Pkg is deprecated, run `using Pkg` instead
 in module Main
  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
  Updating `~/.julia/environments/v0.7/Project.toml`
 [no changes]
  Updating

[2019-04-30 04:14] kaarthiksundar commented on #59
Closing https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-04-30 04:14] #59 closed

[2019-04-30 04:14] kaarthiksundar commented on #79
https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-04-30 04:14] #79 closed

[2019-04-30 04:16] kaarthiksundar commented on #62
Objective and outcome not clear.

[2019-04-30 04:16] #62 closed

[2019-04-30 04:16] kaarthiksundar commented on #111
https://github.com/lanl-ansi/Alpine.jl/issues/101

[2019-04-30 04:16] #111 closed

[2019-05-01 14:42] kaarthiksundar commented on #118
Try updating Julia to v1.0, updating alpine to v1.9. If this error persists then please post an example so that we can replicate it on our side.

[2019-05-01 14:46] kaarthiksundar commented on #117
Please update Julia to >=v1.0 and alpine to v1.9 and check if this error persists. If so, please post the problem.

[2019-05-10 17:50] harshangrjn commented on #117
@stumarcus576 Can you please check if this issue still exists or else we can close it.

[2019-05-10 17:56] stumarcus576 commented on #117
I don't plan to upgrade to >=v1.0 in the near future, so I cannot check this. I only have v0.6.4 and v0.7 installed.

[2019-06-23 04:39] krishpat opened #121 "On variables chosen for partitioning"
In this [paper](https://harshangrjn.github.io/pdf/JOGO_2018.pdf) (linked in the references) I was observing that the piecewise formulation presented is to partition both the variables in a given bilinear term. Does Alpine always partition every variable in a bilinear term? If so, doesn't it slow down runtimes since a lot of binary variables are added to the formulation?

[2019-06-23 04:44] harshangrjn commented on #121
https://github.com/lanl-ansi/Alpine.jl/blob/b1970048e90a1f1e72c54ddbbd40028a735af6d8/src/solver.jl#L33

@krishpat, Alpine supports both bivariate and univariate partitioning, which can be controlled using the input parameter "disc_var_pick" (in the above link). "0" implies all variable partitioning involved in the bilinear terms and "1" implies univariate partitioning. In the latter case, univaria

[2019-06-23 04:48] krishpat commented on #121
@harshangrjn Thanks for the clarification!! In that case, why would Alpine even choose to do bivariate partitioning if it makes the global convergence harder? Is the default way of solving in Alpine using the MVC algorithm you mentioned?

[2019-06-23 05:11] harshangrjn commented on #121
@krishpat That is a good question. Bivariate partitioning, though as you mentioned makes the global convergence harder, it is not necessarily what we observe on smaller NLPs. Bivariate partitioning can tighten the piecewise relaxations much faster and close the optimality gap faster too. Here is a simple NLP which should explain this better: https://github.com/lanl-ansi/MINLPLib.jl/blob/master/ins

[2019-06-23 05:22] krishpat commented on #121
@harshangrjn It is really amazing to see the improvement in run times by applying a counter-intuitive-type method of bivariate partitioning. I quickly tested on other small NLPs and Alpine's bivariate partitioning seems to be quite efficient.

Thanks again for the detailed clarification. Looks like I need to understand in detail all the user input parameters.

[2019-06-23 05:24] harshangrjn commented on #121
We need to write a detailed user manual, explaining all these parameters. We hope to get to this soon.

[2019-06-28 07:56] samiit opened #122 "Alpine LoadError"
I just added Alpine to my fresh installation of Julia 1.1.1 but when trying to load it, I get error:

[code]

Does Alpine have issues with the latest Julia (v1.1.1)? I don't get this error while using Julia 0.6.1!

Thanks,

Sam

[2019-06-28 12:51] harshangrjn commented on #122
Alpine is not supported yet to be compatible with JuMP 0.19+. Anything under JuMP 0.18.5 and  Julia 1.0+ works fine. Install JuMP using the command 'Pkg.add(JuMP@v0.18.5)'. Let us know if you have issues.

[2019-06-28 17:48] harshangrjn commented on #122
@kaarthiksundar Any inputs?

[2019-06-28 17:49] kaarthiksundar commented on #122
What you said is correct.

[2019-06-28 18:22] ccoffrin commented on #122
What i don’t get is how JuMP v0.19 was installed.  The package requirements
should prevent this.

On Fri, Jun 28, 2019 at 11:49 AM Kaarthik Sundar <notifications@github.com>
wrote:

[2019-06-28 18:31] harshangrjn commented on #122
As @samiit says, he is using JuMP <= v0.18.5 in Julia 0.6.1, in which Alpine runs. But in Julia 1.1.1, JuMP was probably installed before Alpine, and hence v 0.19?

[2019-06-28 18:55] kaarthiksundar commented on #122
@ccoffrin I have experienced similar issues where the package manager do not do a downgrade automatically in Jump is installed first. Also it was never consistent. Sometimes it works, sometimes it doesn’t. Harsha’s suggestion will help narrow down the issue.

[2019-06-28 19:28] ccoffrin commented on #122
Sounds odd.  Assuming the environment is clean, if you start by installing Alpine, it should pull down JuMP v0.18.  If you first install JuMp v0.19, then installing Alpine should throw an error that the version requirements cannot be met.

[2019-06-28 19:38] samiit commented on #122
While it is true that I don't get the load error while using JuMP <=18.5 (in Julia 0.6.1), I get other errors while solving an example model. I can only use Cbc and Ipopt like below.
[code]

And I get error as:
[code]
Any suggestions how I should code a simple linear objective and a non-convex constraint?

[2019-06-28 19:41] kaarthiksundar commented on #122
@samiit This is (as the error suggests) an issue with Cbc. Cbc solver does not support quadratic objective or constraints. Please use CPLEX or Gurobi and this error should not pop up. If that is not available, please use Pajarito or Pavito as the mip_solver and it should work fine.

[2019-06-28 20:02] harshangrjn commented on #122
@samiit For the problem you have posted, isn't the global optimum trivial, which is at (x=10, y=5) and optimum = 95?

[2019-06-28 20:13] samiit commented on #122
@harshangrjn Yes the problem is trivial. It was something I just cooked up quick to test how Alpine can be put to use with free and open-source solvers. The real problem is to fit as many circles in a rectangular box and the constraints are naturally non-convex. I tried hard if there is any chance to make it convex but to no avail (any hints are welcome) so ended up at your impressive talk on Alpi

[2019-06-28 20:14] #122 closed

[2019-06-30 07:20] samiit commented on #122
Just in case it helps someone else, the following code worked for me (cooked up example; you would need to add the package Pavito with `Pkg.add("Pavito")`:

[code]

[2019-06-30 18:56] harshangrjn commented on #122
Thanks @samiit! I will add this into the Alpine's documentation.

[2019-07-01 04:09] samiit commented on #122
I updated the example, so that it is not so trivial and is worth to be in the documentation. I updated Alpine to 0.1.9 (of course, JuMP 0.18.5) while using Julia 1.1

I don't fully grasp though why there is a separate requirement for `mip_solver` and `minlp_solver` (I'm using Pavito for both, in the example below, but I found another issue that you addressed, you'd proposed Juniper for `minlp_solv

[2019-07-01 05:12] harshangrjn commented on #122
`minlp_solver` is to be able to (hopefully quickly) solve the given non-convex MINLP to local optimality, without any global guarantees, which is what Juniper/Bonmin is meant for.

'mip_solver' is somewhat an overloaded term in Alpine. But the main purpose of `mip_solver` is to solve convex MIPs. If the MIP being solved after variable partitioning is linear, any solver such as CBC (including Gurob

[2019-07-01 06:09] samiit commented on #122
Thanks Harsha.

[2019-07-12 07:42] samiit commented on #122
I am writing after quite some time, since I finally managed to make Alpine work for my problem and am getting global optimum solutions. I just noticed to give a suggestion to users who attempt such problems. A trick that worked for me was to avoid linearizing non-linear constraints through Big-M method.

I tried for quite some time using Alpine to convert a non-linear constraint involving two bina

[2019-07-13 04:36] harshangrjn commented on #122
@samiit Its not clear why this error is appearing for you. If you share the actual formulation you are trying to solve, we can look at it.

Regarding the big-M linearization, the whole purpose of Alpine to be able to handle the nonlinear terms in multilinear forms as it is. So you do not have to reformulate it, as Alpine would anyway do it for you.

[2019-07-13 13:42] samiit commented on #122
Thanks @harshangrjn for your quick response. I am attaching the code that I've written which is giving this error.

[CirclePackingSmall_Alpine.txt](https://github.com/lanl-ansi/Alpine.jl/files/3388828/CirclePackingSmall_Alpine.txt)

[2019-09-03 17:32] krishpat opened #123 "NLobjective error"
Issue in Alpine v0.1.9
[code]
When I run the above problem, Alpine throws this error:
[code]
This error does not appear if the objective is specified as `@objective(m, Min, x[1])`

[2019-09-03 17:36] harshangrjn commented on #123
@krishpat  Looks like when you do `@objective`, JuMP automatically assigns coefficient "1.0" to the linear variable `x[1]`. However when you do `@NLobjective`, JuMP doesn't assign "1.0" coefficient and hence you see this error. A quick fix for this assertion is to write your objective as `@NLobjective(m, Min, 1*x[1])'.

[2019-09-03 19:15] harshangrjn commented on #123
@krishpat This has been fixed and merged to master.

[2019-09-03 19:15] #123 closed

[2019-09-03 19:16] krishpat commented on #123
Thanks @harshangrjn. It works now.

[2019-09-06 09:46] jay-dave opened #125 "trigonometric functions"
Are there any plans to support trigonometric functions in the coming months?

[2019-09-06 13:42] harshangrjn commented on #125
Yes! We do have this in the pipeline. Current efforts are towards migrating to be compatible with JuMP 0.19+. Once done with this, we plan to add relaxation models for transcendental functions.

[2019-09-06 14:29] krishpat commented on #125
I was going to ask this too. Trig function support will be helpful. Also, support for functions with fractional exponents will be useful since they seem to appear in many applications. Thanks!

[2019-09-11 18:06] krishpat opened #126 "Bug in feasibility problem"
When I solve this feasibility NLP  (given below) in Alpine, I get an error `ERROR: MethodError: no method matching one(::Type{Any})`. If I replace `@objective` to `@NLobjective`, I get a different error as follows: `ERROR: MethodError: Cannot `convert` an object of type Float64 to an object of type Expr`
[code]
Though the feasibility NLP can be solved using different solvers like Ipopt/Juniper.jl

[2019-09-11 18:13] ccoffrin opened #127 "Testing with MINLPTests"
This point is related to #101 #126.  Future versions of Alpine can leverage the https://github.com/JuliaOpt/MINLPTests.jl repo for testing core JuMP features and edge cases (e.g. feasibility problems).

I would also recommend to add a new category of polynomial problems to https://github.com/JuliaOpt/MINLPTests.jl (see https://github.com/JuliaOpt/MINLPTests.jl/issues/1).  Specifically for testing

[2019-09-11 22:53] harshangrjn commented on #127
Good point @ccoffrin. We will start adding these.

[2019-09-11 23:55] harshangrjn opened #128 "Compounded expression evaluation"
Documenting this bug so that we can have appropriate test cases later:
[code]
Expressions of type shown in the NLconstraint (above) are evaluated wrongly while evaluating bounds on the lifted variables. Here is the warning printed by Alpine: `Warning:   Warning: VAR5 SOL=-1731.0 out of discretization [-1537.0,-1537.0]. Taking middle point...`

[2019-09-12 01:05] #128 closed

[2019-09-14 04:32] kaarthiksundar opened #131 "V0.1.10"
@JuliaRegistrator.register()

[2019-09-14 04:33] JuliaRegistrator commented on #131
Registration pull request created: [JuliaRegistries/General/3529](https://github.com/JuliaRegistries/General/pull/3529)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-09-14 15:40] harshangrjn commented on #126
@krishpat This has been fixed! v0.1.10 has been released with the updates. Update Alpine and let me know if this solves this issue.

[2019-09-14 16:08] krishpat commented on #126
@harshangrjn It works now! Thanks for the update. I was curious if Alpine still solves the problem to global optimality when the objective is a constant. Asking this since Alpine is performing a few lower bounding iterations. Here is the output I get for the above problem:
[code]

[2019-09-14 16:18] harshangrjn commented on #126
@krishpat The reason you see the lower bounding iterations is because the Ipopt hadn't found a feasible solution in the initial solve. Hence it iterates by partitioning the domains of the variables until a feasible solution (Incumbent) is found and converges in the 3rd iteration. If Ipopt had converged to a feasible point in the initial solve, Alpine wouldn't partition variable domains.

[2019-09-14 16:30] krishpat commented on #126
Got it! Thanks for the clarification.

[2019-09-14 16:30] #126 closed

[2019-09-17 23:01] #131 closed

[2019-09-23 14:51] DrChainsaw opened #133 "Possible issue with expression dereferencing"
The code supposedly responsible for this issue: https://github.com/lanl-ansi/Juniper.jl/issues/158 has a comment "Used from https://github.com/lanl-ansi/Alpine.jl", indicating that the same issue exists in this repo as well.

The function `expr_term_parsing` in `operators.jl` looks like it is the right place. I don't feel confident enough to make a PR as I'm not experienced with MathProgBase (well

[2019-10-02 21:24] harshangrjn opened #134 "NLobjective parsing"
Reporting a bug in objective parsing for this example:
[code]
where, error is `ERROR: LoadError: Alpine currently supports `^` operator with only positive integer exponents`. However, objectives of this type are fine and provides correct solutions: `4*(h[1] - h[2])^2` and `(2*h[1] - 2*h[2])^2`

[2019-10-02 22:10] harshangrjn opened #135 "Lower bound convergence issue"
This may be related to issue #134. But reporting it just so that it can be fixed.
[code]
For the above problem, Alpine's lower bounding iterations get stuck at `8.0`, while the global optimum is `32.0`. This issue doesn't appear when the co-efficient `2` is not in the objective or when the lower bound on the variable `h` is equal to `1.0`.  Most probably an issue with obj. expression parsing.

[2019-10-04 21:22] asavasci opened #136 "Precompiling Issue"
I am new to Alpine, having issues with precompile stage as follows

[ Info: Precompiling Alpine [07493b3f-dabb-5b16-a503-4139292d7dd4]
ERROR: LoadError: LoadError: UndefVarError: Variable not defined
Stacktrace:
 [1] getproperty(::Module, ::Symbol) at ./sysimg.jl:13
 [2] top-level scope at none:0
 [3] include at ./boot.jl:317 [inlined]
 [4] include_relative(::Module, ::String) at ./loading.jl:1044

[2019-10-04 21:41] harshangrjn commented on #136
Alpine currently works only with JuMP <= v0.18.5. That may be the reason why you see this bug. Let me know if this fixes your issue.

[2019-10-05 02:08] asavasci commented on #136
Yes, older version works with Alpine.
Now, I am getting different error regarding LinearQuadraticModel as follows

LoadError: MethodError: no method matching LinearQuadraticModel(::AlpineSolver)
Closest candidates are:
  LinearQuadraticModel(!Matched::ECOSSolver) at C:\Users\alper\.julia\packages\ECOS\pP33Q\src\MPB_wrapper.jl:81
  LinearQuadraticModel(!Matched::GurobiSolver) at C:\Users\alper\.jul

[2019-10-05 02:10] harshangrjn commented on #136
Can you post the problem you are trying to run here (if it's not too big)?

[2019-10-05 02:21] asavasci commented on #136
clearconsole()

## D_t : Net load in period t ∈ T, ( MW )
#
D = [700,750,850,950,1000,1100,1150,1200,1300,1400,1450,1500,
     1400,1300,1200,1050,1000,1100,1200,1400,1300,1100,900,800];

## Cost function parameters for 10-unit system
#
a = [1000,970,700,680,450,370,480,660,665,670]; # Fixed cost of running generator g ∈ G, ( $/h )
b = [16.19,17.26,16.60,16.50,19.70,22.26,27.74,25.92,27.27,27.79];

[2019-10-05 02:30] harshangrjn commented on #136
Looks like your problem is just a MIQP with linear constraints, which is convex. You should be able to solve it directly using Gurobi/CPLEX. Alpine is meant for solving nonconvex programs. In any case, use @NLobjective (as your objective is quadratic) in your problem and Alpine will still try to solve it.

[2019-10-05 02:49] asavasci commented on #136
When I specify @NLobjective I am getting following error

ERROR: LoadError: Problem is a MINLP and no MINLP local solver given; use minlp_solver to specify a MINLP local solver
Stacktrace:
 [1] loadproblem!(::Alpine.AlpineNonlinearModel, ::Int64, ::Int64, ::Array{Float64,1}, ::Array{Float64,1}, ::Array{Float64,1}, ::Array{Float64,1}, ::Symbol, ::JuMP.NLPEvaluator) at C:\Users\alper\.julia\packages

[2019-10-05 02:56] harshangrjn commented on #136
If you use `setsolver(uc, GurobiSolver())` instead of Alpine, you will be able to solve your problem.

If you have an MIQP (form of MINLP), you will need to provide a `minlp_solver` instead of `nlp_solver`. You can use this as the local MINLP solver or Alpine: https://github.com/lanl-ansi/Juniper.jl

[2019-10-05 03:27] asavasci commented on #136
Okay. Thanks for your time

[2019-10-05 03:28] harshangrjn commented on #136
Closing the issue for now. If you encounter anything else, feel free to open this back.

[2019-10-05 03:28] #136 closed

[2019-10-07 13:51] asavasci commented on #136
Having issues with Juniper solver call. I slightly changed my problem into an MINLP, but JuniperSolver() seems not supported by JuMP 0.18. Could you please verify it?
[basic_UC_v2.txt](https://github.com/lanl-ansi/Alpine.jl/files/3697710/basic_UC_v2.txt)

[2019-10-07 13:59] Wikunia commented on #136
I currently can't test it easily as I have the newest versions installed but I think you simply have to use `JuniperSolver(IpoptSolver(print_level=0))` instead of just `JuniperSolver` as Juniper needs a nlp solver. You're probably using v0.3.0 of Juniper which is described here:
https://lanl-ansi.github.io/Juniper.jl/v0.3/

[2019-10-07 14:28] asavasci commented on #136
I tested Juniper on separate example given here : [https://lanl-ansi.github.io/Juniper.jl/v0.3/](url). Juniper is working. However, I am getting the following error

LoadError: Unsupported MINLP local solver Juniper.JuniperSolverObj(IpoptSolver(Tuple[(:print_level, 0)]), log_levels                          : Symbol[:Options, :Table, :Info]
atol                                : 1.0e-6
num_resolve_r

[2019-12-02 05:05] asavasci opened #137 "Local MINLP solver"
Hi, I am trying to solve an MINLP problem, but I am getting error output below

LoadError: Problem is a MINLP and no MINLP local solver given; use minlp_solver to specify a MINLP local solver in expression starting at...

I tried to use Juniper as local minlp_solver, however, it seems not working with JuMP v0.18, and if I upgrade JuMP, Alpine will not be working.

What would you suggest to work ar

[2019-12-02 06:32] ccoffrin commented on #137
This is indeed an issue with the incompatible versions of JuMP that are supported by Alpine and Juniper.  You can try pinning Juniper to v0.3, which was the last version that supported JuMP v0.18, and it should should still with the current version of Alpine.

[2019-12-02 13:04] asavasci commented on #137
I pinned JuMP and Juniper as follows
[4076af6c] JuMP v0.18.6 ⚲
[2ddba703] Juniper v0.3.0 ⚲

I am still getting same error message

[2019-12-02 15:41] ccoffrin commented on #137
According to this file, https://github.com/lanl-ansi/Alpine.jl/blob/master/Project.toml you might give Pavito.jl a try.

@Wikunia you might want to see if there is an easy way to use an old version of Juniper with Alpine.

[2019-12-02 20:06] Wikunia commented on #137
@asavasci can you give an example of the part that is not working?
I used release-0.3 of Juniper, Alpine v0.1.10, JuMP  v0.18.6, Ipopt v0.6.1 and Cbc v0.6.6
and
[code]

[2019-12-03 01:39] asavasci commented on #137
After setting, setsolver(m, AlpineSolver(minlp_solver=JuniperSolver(IpoptSolver()), mip_solver=CbcSolver()))

Now, I am getting
LoadError: type Variable has no field head in expression starting at solve(m) command

[2019-12-03 01:40] harshangrjn commented on #137
@asavasci Can you share your exact problem you are solving. I think I know the issue you are having.

[2019-12-03 02:04] asavasci commented on #137
Here it is

[test_alpine.txt](https://github.com/lanl-ansi/Alpine.jl/files/3914134/test_alpine.txt)

[2019-12-03 20:52] dmit4git opened #139 "ERROR: Failed to precompile Alpine"
Precompiling crashes on me
[code]
I'm using Julia v.1.3.0, JuMP v.0.20.1

[2019-12-03 21:19] harshangrjn commented on #139
@dmit4git Alpine is not yet compatible with JuMP 0.19+. Fixing JuMP @v0.18.6 should work.

[2019-12-03 21:23] harshangrjn commented on #118
@stumarcus576 If you see this error again, feel free to re-open this issue.

[2019-12-03 21:23] #118 closed

[2019-12-03 21:23] harshangrjn commented on #117
@stumarcus576 If you see this error again, feel free to re-open this issue.

[2019-12-03 21:23] #117 closed

[2019-12-03 21:24] harshangrjn commented on #115
@stumarcus576 If you see this error again, feel free to re-open this issue.

[2019-12-03 21:24] #115 closed

[2019-12-03 21:25] harshangrjn commented on #116
@stumarcus576 If you see this error again, feel free to re-open this issue.

[2019-12-03 21:25] #116 closed

[2019-12-03 22:46] harshangrjn commented on #137
@asavasci There were a few syntax and NLexpression issues which I fixed, after which the LoadError you had doesn't appear anymore. Also, global solvers typically perform better when you have variables initialized with finite bounds, rather than constraints. Here is the updated file:
[test_alpine_1.txt](https://github.com/lanl-ansi/Alpine.jl/files/3919037/test_alpine_1.txt)

However, Alpine has som

[2019-12-04 12:50] #139 closed

[2019-12-04 21:11] asavasci commented on #137
Noted. Thank you very much.

[2019-12-06 21:47] harshangrjn commented on #135
Here is the updated output:
[code]

[2019-12-06 21:47] #135 closed

[2019-12-06 21:49] #134 closed

[2019-12-06 21:52] harshangrjn commented on #103
Updated output:
[code]

[2019-12-06 21:52] #103 closed

[2019-12-06 21:55] harshangrjn opened #142 "V0.1.15"
@JuliaRegistrator.register()

[2019-12-06 21:55] JuliaRegistrator commented on #142
Error while trying to register: "Tag with name `0.1.10` already exists and points to a different commit"

[2019-12-06 21:57] harshangrjn commented on #142
@JuliaRegistrator.register()

[2019-12-06 21:57] JuliaRegistrator commented on #142
Registration pull request created: [JuliaRegistries/General/6333](https://github.com/JuliaRegistries/General/pull/6333)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-09 18:24] #142 closed

[2020-02-04 11:43] ericphanson commented on #114
@harshangrjn just to say the paper is out now, and we used this linearization trick: https://arxiv.org/abs/2001.03598 (acknowledging you). Thanks very much for the help! The MISDP ends up being hard to solve for non-small problems but it’s already interesting to me for small problems; there’s an SDP formulation (with exponentially many variables) solvable for small problems as well, but the misdp

[2020-02-05 19:54] harshangrjn commented on #114
@ericphanson Thats great! Thanks for keeping me posted. In general MISDPs are quite hard to solve, but I have been off-late working on developing relatively fast methods to obtain tight upper bounds. We can take this offline.

[2020-02-06 19:37] ccoffrin opened #144 "Travis and Documeter Maintenance"
See, https://github.com/lanl-ansi/PowerModels.jl/commit/1eb1500313ba6cfeb8e3c5e7f22f76142242d7aa and https://github.com/lanl-ansi/PowerModels.jl/commit/d1ab450bb68fdbdc687564be3651c5ddf420ab72

[2020-05-03 21:30] stumarcus576 opened #146 "Compilation error"
I use Julia v1.4.1 with JuMP 0.21.2. I get the following error when I try to use Alpine.

julia> include("MVB_MINLP.jl")
[ Info: Precompiling Alpine [07493b3f-dabb-5b16-a503-4139292d7dd4]
ERROR: LoadError: LoadError: UndefVarError: Variable not defined
Stacktrace:
 [1] getproperty(::Module, ::Symbol) at .\Base.jl:26
 [2] top-level scope at C:\Users\stuma\.julia\packages\Alpine\k3g7z\src\tmc.jl:203

[2020-05-03 21:37] ccoffrin commented on #146
At the moment this solver requires JuMP v0.18.

[2020-06-19 17:52] harshangrjn commented on #144
Fixed this in v0.1.16.

[2020-06-19 17:52] #144 closed

[2020-06-19 17:55] #86 closed

[2020-06-22 23:09] tweisser opened #147 "bound propagation buggy"
I think the test [here](https://github.com/lanl-ansi/Alpine.jl/blob/64b751a50e758e6ef5da0b8652ed2cdb1d12bcc1/src/bounds.jl#L147) should be against `m.l_var_tight` in order to stop, when the upper bound is smaller than the lower bound.

[2020-06-22 23:10] harshangrjn commented on #147
Perfect! This needs to be fixed. Will get it fixed for your example problem.

[2020-06-22 23:14] harshangrjn commented on #147
@tweisser Do you want to send a PR for this? ;)

[2020-06-23 02:17] #147 closed

[2020-07-08 13:45] mjposs commented on #146
Hi

I installed JuMP v0.18.3 (or v0.18.6) and get simingly the same error with Alpine v.0.1.15:

`julia> using Alpine
[ Info: Precompiling Alpine [07493b3f-dabb-5b16-a503-4139292d7dd4]
ERROR: LoadError: LoadError: UndefVarError: Variable not defined
Stacktrace:
 [1] getproperty(::Module, ::Symbol) at ./Base.jl:13
 [2] top-level scope at /home/mposs/.julia/packages/Alpine/q7ook/src/tmc.jl:203
 [3]

[2020-07-08 13:49] harshangrjn commented on #146
Can you update Alpine to v0.1.16 and see of this issue still persists?

[2020-07-08 13:56] mjposs commented on #146
Where do I get it?

[2020-07-08 14:03] harshangrjn commented on #146
Looks like you have some other package which you have installed which is creating a conflict. Its probably better to remove all packages and start adding with JuMP and Alpine.

[2020-07-08 14:22] mjposs commented on #146
I think I did remove all packages, but the problem persists:

julia> Pkg.installed()
Dict{String,Union{Nothing, VersionNumber}} with 0 entries

julia> Pkg.add(Pkg.PackageSpec(;name="Alpine", version="0.1.16"))
 Resolving package versions...
ERROR: Unsatisfiable requirements detected for package Alpine [07493b3f]:
 Alpine [07493b3f] log:
 ├─possible versions are: [0.1.0-0.1.3, 0.1.5, 0.1.7, 0.1.9-0

[2020-07-08 14:35] Wikunia commented on #146
Looks like it doesn't find the newest version of Alpine. Not sure why this might be the case. Conflicting with other packages gives a different kind of error.

[2020-08-13 09:21] blegat opened #150 "Reenable test: Validation Test || PBT-AMP-TMC || basic solve || examples/nlp3.jl"
It was disabled in the transition to MOI: https://github.com/lanl-ansi/Alpine.jl/pull/149/

[2020-08-13 09:22] blegat opened #151 "Reenable test: Validation Test || AMP-CONV-FACET || basic solve || examples/nlp1.jl"
It was disabled in the transition to MOI: #149

[2020-08-13 09:23] blegat opened #152 "Run against MOI.Test suite"
We should add a `test/MOI_wrapper.jl` file following http://jump.dev/MathOptInterface.jl/dev/apimanual/#Testing-guideline-1

[2020-08-16 01:01] julbinb opened #153 "Unnecessary use of eval in source code"
[This use of `eval`](https://github.com/lanl-ansi/Alpine.jl/blob/72814dd2343408df030024fc0f656c662b225f94/src/algorithm.jl#L344) does not do anything useful:

[code]

It's similar to writing `eval(3)` instead of `3`. Because `m.disc_var_pick` is already a function, it would be faster to call it directly, `m.disc_var_pick(m)`. For comparison, here is an example with `rand`:

[code]

[2020-10-13 20:09] harshangrjn commented on #125
#28 #29 Tagging related enhancements!

[2020-10-13 20:11] harshangrjn commented on #121
Closing this since this is related to solver documentation!

[2020-10-13 20:11] #121 closed

[2020-10-14 05:42] #37 closed

[2020-10-15 04:14] harshangrjn commented on #150
Pavito seems to have an issue with this instance, but not with CBC/Cplex. So, re-enabled this test with solver updated to CBC.

[2020-10-15 05:05] harshangrjn commented on #151
Again, Pavito seems to have an issue with this instance while not in CPLEX. So, modifying this test to a different instance but checks the same parts of the code.

[2020-10-16 22:09] #151 closed

[2020-10-16 22:09] #150 closed

[2020-10-16 22:11] harshangrjn commented on #146
@stumarcus576 You can download the most recent version (v0.2.0) of Alpine and try with JuMP 0.21+. If in case you have any issues, feel free to re-open the issue.

[2020-10-16 22:11] #146 closed

[2020-10-16 22:12] harshangrjn commented on #104
@krishpat This issue has been fixed in v0.2.0 of Alpine. If you have any issues, re-open the issue.

[2020-10-16 22:12] #104 closed

[2020-10-17 18:18] harshangrjn commented on #153
@julbinb Thanks for your helpful suggestions. I have updated the code and eliminated the usage of evals as much as possible. If you get chance to review the the recent release (v0.2.0) and see if this needs any more changes, let me know and I shall get them fixed. If not, will close the issue.

[2020-10-17 20:30] julbinb commented on #153
@harshangrjn you are welcome! I will try to take a look over the next week.

[2020-10-18 04:48] harshangrjn opened #155 "v0.2.0"
@JuliaRegistrator.register()

[2020-10-18 04:48] JuliaRegistrator commented on #155
Error while trying to register: "Tag with name `v0.1.16` already exists and points to a different commit"

[2020-10-18 07:39] hellemo commented on #155
It looks like you need to update the version number in `Project.toml`, which is still at `v0.1.16`?

[2020-10-18 14:56] kaarthiksundar commented on #155
Edited the Project.toml. Please feel free to delete the release and tags and register again. The Registrator will create the tags and the releases.

[2020-10-18 15:00] joaquimg commented on #155
Now it should be enough to comment again:

@JuliaRegistrator.register()

[2020-10-18 15:00] JuliaRegistrator commented on #155
Error while trying to register: **Register Failed**
@joaquimg, it looks like you are not a publicly listed member/owner in the parent organization (lanl-ansi).
If you are a member/owner, you will need to change your membership to public. See [GitHub Help](https://help.github.com/en/articles/publicizing-or-hiding-organization-membership)

[2020-10-18 15:04] kaarthiksundar commented on #155
@JuliaRegistrator.register()

[2020-10-18 15:04] JuliaRegistrator commented on #155
Registration pull request created: [JuliaRegistries/General/23180](https://github.com/JuliaRegistries/General/pull/23180)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-10-18 16:09] #155 closed

[2020-10-20 17:18] harshangrjn opened #157 "Support for Juniper's feasibility status"
Alpine throws an error when Juniper.jl returns "ALMOST_LOCALLY_SOLVED". Add this option in https://github.com/lanl-ansi/Alpine.jl/blob/1dddbbdc0f6da7eb5e58bdad00ddd86af1ce0ddb/src/algorithm.jl#L7

@ccoffrin Any other useful/acceptable status which may need to be added to this list? (Not able to tag Ole here for some reason).

[2020-10-20 17:30] ccoffrin commented on #157
I think you have it covered.  You can have a look at these common cases, https://jump.dev/MathOptInterface.jl/dev/apimanual/#Common-status-situations-1

[2020-10-20 17:32] harshangrjn commented on #157
Great! This list helps.

[2020-10-25 20:09] julbinb commented on #153
I see a couple of uses of `eval` that might or might not have a similar issue, e.g. [here](https://github.com/lanl-ansi/Alpine.jl/blob/50a111e41355530c068a7379ba62b12529fc1915/src/nlexpr.jl#L197) or [here](https://github.com/lanl-ansi/Alpine.jl/blob/bce6d263b387c08de8d8bd9695515e8dd82aa20e/src/utility.jl#L83). If what `convertor[..]` contains is already a function (i.e. a value for which `typeof`

[2020-10-26 21:34] harshangrjn commented on #153
@julbinb Thanks! Will look into it and make changes where necessary.

[2020-10-28 18:40] harshangrjn opened #159 "Logging issue with a constant in objective"
Logging issue when the objective is a constant value instead of an actual expression.
`ERROR: LoadError: MethodError: no method matching length(::Expr)`

[2020-11-14 02:40] #159 closed

[2020-11-14 02:40] #157 closed

[2020-11-14 02:41] harshangrjn commented on #153
Most of the unnecessary `eval()` functions have been removed in this update.

[2020-11-14 02:41] #153 closed

[2020-11-14 02:49] harshangrjn opened #160 "v0.2.1"
@JuliaRegistrator.register()

[2020-11-14 02:50] JuliaRegistrator commented on #160
Registration pull request created: [JuliaRegistries/General/24633](https://github.com/JuliaRegistries/General/pull/24633)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-11-14 03:20] JuliaTagBot opened #161 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

[2020-11-14 04:09] #160 closed

[2020-12-22 03:20] OliverEvans96 opened #162 "ModelLike of type Alpine.Optimizer does not support accessing the attribute MathOptInterface.ResultCount()"
Hello,

I'm having trouble accessing the optimal variable value from an Alpine model. Possibly related to #101.

# Minimal Example

[code]

An optimal solution is reached:
<details><summary>Solver Output</summary>

[code]
</details>

# Error Message

But when I try try to access the value, of `x`, I get the following error:
[code]

# Relevant Package Versions

Using Julia v1.5.3 (2020-11-09)

[cod

[2020-12-22 21:25] harshangrjn commented on #162
@OliverEvans96 Are you getting this issue with other MILP solvers like CPLEX/Gurobi?

[2020-12-23 13:29] blegat commented on #162
Looking at the code, `value` is indeed not going to work, A getter is needed for `ResultCount` here:
https://github.com/lanl-ansi/Alpine.jl/blob/383bdbc0a97347e0e04633f25af95e430f1edc77/src/solver.jl#L583
A simple implementation is
[code]

[2020-12-23 17:39] OliverEvans96 commented on #162
@harshangrjn I don't have CPLEX/Gurobi.

@blegat when I define your `MOI.get` implementation before calling `value(x)`, the first error is resolved, but I now get the following error:

[code]

[2020-12-23 21:13] blegat commented on #162
You should also add
[code]

[2020-12-24 16:34] OliverEvans96 commented on #162
@blegat - that worked!

[code]

 Thanks and happy holidays!
Oliver

[2021-01-10 17:45] manojcen opened #163 "Exception while doing optimize ==> ErrorException("type Optimizer has no field objective_value")"
**Describe the bug**
A clear and concise description of what the bug is. Simple examples which reproduce the bug will be helpful.

running the solver with following parameters

IPOPT = optimizer_with_attributes(Ipopt.Optimizer, MOI.Silent() => true, "sb" => "yes")
	 CBC = optimizer_with_attributes(Cbc.Optimizer, MOI.Silent() => true,"logLevel" => 0)
	 JUNIPER = optimizer_with_attributes(Juniper.Op

[2021-01-12 02:35] harshangrjn commented on #163
@manojcen Is the problem you are trying to solve an NLP or a MINLP? If it's a small one, would you mind sharing it here?

[2021-01-12 05:16] manojcen commented on #163
Hi Harsha,

I am using it for MINLP. I am getting output for this settings
IPOPT = optimizer_with_attributes(Ipopt.Optimizer, MOI.Silent() => true)#, "sb" => "yes")
	 CBC = optimizer_with_attributes(Cbc.Optimizer, MOI.Silent() => true)
	JUNIPER = optimizer_with_attributes(Juniper.Optimizer)#, MOI.Silent() => true, "mip_solver" => CBC, "nl_solver" => IPOPT)
	 #PAVITO = optimizer_with_attributes(Pav

[2021-01-13 00:48] harshangrjn commented on #163
I tested and here are a few things you can try. Firstly, I am not able to reproduce the same error you are observing probably because I am testing on a different MINLP. [Here](https://github.com/lanl-ansi/MINLPLib.jl/blob/master/instances/minlp2/ex1223a.jl) is the MINLP for your reference. In this case, turning off "presolve_bt_relax", seems to fix the issue and solve it to optimality. Also, I am

[2021-03-16 12:47] manojcen opened #164 "LoadError: `MOI.ScalarQuadraticFunction{Float64}`-in-`MOI.GreaterThan{Float64}` constraints are not supported and cannot be bridged into supported constrained variables and constraints"
i I am getting the below error while solving MINLP with juniper and alpine.
with using config
XX = GLPK.Optimizer
  test_sol = optimizer_with_attributes(Alpine.Optimizer,
 		    "nlp_solver" => IPOPT,
 		    "minlp_solver" =>JUNIPER,
 		    "mip_solver" => XX,
			"presolve_time_limit" => 900,
				 "presolve_max_iter" => 100)

ERROR: LoadError: `MOI.ScalarQuadraticFunction{Float64}`-in-`MOI.Greater

[2021-03-26 16:37] harshangrjn commented on #163
Closing this issue as I don't observe this on my side. Feel free to re-open if necessary.

[2021-03-26 16:37] #163 closed

[2021-03-26 16:55] harshangrjn commented on #164
@manojcen I am not able to reproduce this error. On the most recent versions of Juniper and Alpine, solving MINLP doesn't look like an issue. I also tested with both CPLEX and CBC as the underlying MIP solver. So, feel free to re-open this issue by posting an example of the problem you are trying to solve.

[2021-03-26 16:55] #164 closed

[2021-03-30 21:59] harshangrjn commented on #162
This issue has been fixed in v0.2.2.

[2021-03-30 21:59] #162 closed

[2021-03-30 22:01] harshangrjn opened #166 "v0.2.2"
@JuliaRegistrator.register()

[2021-03-30 22:01] JuliaRegistrator commented on #166
Registration pull request created: [JuliaRegistries/General/33212](https://github.com/JuliaRegistries/General/pull/33212)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-03-31 01:27] #166 closed

[2021-05-20 00:28] harshangrjn opened #167 "v0.2.3"
@JuliaRegistrator register

[2021-05-20 00:28] JuliaRegistrator commented on #167
Registration pull request created: [JuliaRegistries/General/37088](https://github.com/JuliaRegistries/General/pull/37088)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-05-20 02:31] #167 closed

[2021-05-21 23:17] harshangrjn opened #169 "v0.2.4"
@JuliaRegistrator register

[2021-05-21 23:17] JuliaRegistrator commented on #169
Registration pull request created: [JuliaRegistries/General/37236](https://github.com/JuliaRegistries/General/pull/37236)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-05-21 23:33] #169 closed

[2021-05-30 01:21] harshangrjn opened #170 "v0.2.5"
@JuliaRegistrator register

[2021-05-30 01:21] JuliaRegistrator commented on #170
Registration pull request created: [JuliaRegistries/General/37806](https://github.com/JuliaRegistries/General/pull/37806)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-05-30 01:38] #170 closed

[2021-07-07 13:44] freemin7 opened #171 "New primal heuristic: Feasible Rounding Approach by Shrink-Opimtize-Round"
A new primal heuristic was recently proposed in [The granularity concept in mixed-integer optimization](https://www.youtube.com/watch?v=V9LffQMyeJk). The idea is to define a subset of the feasible space for which all roundings are guaranteed to be in the feasible set, optimize this relaxation and then round once to get to a feasible solution faster. This is trivial for Linear constraints but doing

[2021-07-22 03:46] harshangrjn commented on #171
This seems apt to be investigated in Juniper.jl, which can always be invoked here at the upper bounding step.

[2021-10-17 09:52] freemin7 opened #173 "Ipopt: corrupted double-linked list/julia: malloc.c:3852: _int_malloc: Assertion `chunk_main_arena (fwd)' failed."
[code]
Leads to either:
corrupted double-linked list
julia: malloc.c:3852: _int_malloc: Assertion `chunk_main_arena (fwd)' failed.

`]st`:
[code]

I am not sure how to make this work

[2021-10-17 16:06] freemin7 commented on #173
An update to Ipopt to 0.7.0 seems to have fixed it?
[code]

[2021-10-17 16:06] #173 closed

[2021-10-17 19:52] odow commented on #173
There were some MUMPS issues with Ipopt 0.6 that caused the occasional segfault. I fixed it.

[2021-10-19 23:01] harshangrjn opened #174 "v0.2.6"
@JuliaRegistrator register

[2021-10-23 00:16] harshangrjn opened #175 "v0.2.7"
@JuliaRegistrator register

[2021-10-23 05:03] odow opened #176 "Check features_available when initializing an NLPEvaluator"
See https://discourse.julialang.org/t/unsupported-feature-hess-with-user-defined-functions-using-jump-and-alpine/70204/2

An example is this line:
https://github.com/lanl-ansi/Alpine.jl/blob/b058efb49cce0530bb27fb93d943ea28f1f30a7d/src/algorithm.jl#L251
which attempts to initialize things that might not exist.

[2021-10-26 08:59] mzagorowska opened #177 "Alpine+JuMP gives error for quadratic functions"
See: https://discourse.julialang.org/t/alpine-jump-gives-error-for-quadratic-functions/70321

In summary, if I change one nonlinear constraint slightly to have x[1]*x[1] instead of x[1]*x[6] I am getting an error on MOI.ScalarQuadraticFunction.

[2021-10-28 00:17] freemin7 opened #178 "Alpine checks solver name - Why?"
Why does Alpine check for the string of solvers and throws an error if it is a string it doesn't like?
What is trying to be accomplished?
I would be interested in finding a better solution.

[Relevant code here.](https://github.com/lanl-ansi/Alpine.jl/blob/b058efb49cce0530bb27fb93d943ea28f1f30a7d/src/utility.jl#L482)

[2021-10-29 20:52] freemin7 opened #179 "Alpine crashes when using @objective and not @NLobjective"
[code]
which raises that issue:
[code]
Unrelated to that issue Juniper get's stuck when i use `@NLobjective` but maybe my problem is just to big and just repeats:
[code]

[2021-10-29 23:02] ccoffrin commented on #178
As I recall, this is from an older generation of JuMP when it was not possible if a given solver supports a specific type of problem.  I believe this check was trying to check that the given solver supports the "NLPBlock".  Presumably now, post MOI, there is a better way to accomplish this check.

[2021-10-31 02:09] blegat commented on #178
I think this is used to set solver-specific solver attributes in case the solver is Ipopt

[2021-11-04 09:06] mzagorowska commented on #179
I got a similar issue with [Alpine](https://discourse.julialang.org/t/alpine-jump-gives-error-for-quadratic-functions/70321). The problem seems to be with [Juniper](https://github.com/lanl-ansi/Juniper.jl) rather than with Alpine. From the docs for Juniper:
**This solver is a NLP solver therefore you should have at least one NLconstraint or NLobjective.**

[2021-11-04 15:17] ccoffrin commented on #179
Juniper should work without any "NL" macros, I think that doc is out of date with respect to the latest version.

CC @Wikunia

[2021-11-04 16:36] harshangrjn commented on #179
@freemin7 Since your problem has all linear constraints, and the nonlinearity is only in the objective, mentioning it as `@NLobjective` is necessary for Alpine. This may be something which needs to be made clearer in the Documentation. By making it `@NLobjective`, it seems to run fine in Juniper and Alpine.

On a side note, your problem as it is seems to be quite large, and Juniper doesn't seem to

[2021-11-25 14:48] claud10cv opened #181 "Lower bound exceeds upper bound in separable MINLP"
The attached MINLP makes Alpine behave erratically, as it computes a lower (dual) bound that exceeds the upper (primal) bound since the first iteration. The underlying solvers are: mip solver CPLEX 20.1, nlp local solver Juniper (Ipopt + CPLEX), using default settings except for the number of threads set to 1 in all cases. It raises multiple warnings during presolve (see below). Here is the output

[2021-11-26 03:28] harshangrjn commented on #181
Yes - this is a bug which needs to be fixed. Can you plz share the JuMP model, instead of the lp file?

[2021-11-26 15:49] claud10cv commented on #181
Thank you. I am attaching a minimal example to reproduce the error. The relevant files are:

1. bug_alpine.jl containing the declaration of the JuMP model
2. optimizers.jl with the settings of each solver

The compressed file contains a brief README of how to use this code to reproduce the bug. Hope it helps
[bug181.zip](https://github.com/lanl-ansi/Alpine.jl/files/7609705/bug181.zip)

[2021-11-29 18:46] harshangrjn commented on #181
@claud10cv One simple fix which seems to converge to a global optimal solution (`358.0631`) is to turn off the presolve in Alpine, using the following setting:
[code]

[2021-11-29 21:09] claud10cv commented on #181
Thank you, I will try that. Can you confirm that you can reproduce the issue with the code provided? If there is anything else on my end that I can do to help you narrow the search, please let me know

[2021-11-29 21:37] harshangrjn commented on #181
Thanks @claud10cv! I am able to reproduce the issue, using both CPLEX and Gurobi as the underlying MILP solver. From a quick look, the issue is clearly in the presolve step where the bound tightening is performed. For example, the following settings for Alpine also seems to converge to global optimality:
[code]
However, increasing the `presolve_bt_max_iter` from 5 to 7 is causing the convergence i

[2021-12-18 01:03] #179 closed

[2022-03-04 15:58] blegat opened #186 "Gurobi not recognized with environment."
[code]
gives
[code]

[2022-03-04 16:00] blegat opened #187 "PrimalStatus not defined"
When using `JuMP.solution_summary` with Alpine, the user gets
[code]

[2022-03-08 00:52] odow commented on #187
I think this is really just "fix the MathOptInterface wrapper" https://github.com/lanl-ansi/Alpine.jl/issues/152.

Blocked by the fact I need permission to run CI and https://github.com/lanl-ansi/Alpine.jl/pull/188

[2022-03-15 01:06] odow commented on #186
Closing as duplicate of #178

[2022-03-15 01:06] #186 closed

[2022-03-15 02:29] #187 closed

[2022-03-15 02:29] #101 closed

[2022-03-15 03:28] odow commented on #152
This was a massive failure. It fails immediately:
[code]

Because Alpine assumes the problem is nonlinear:
[code]

[2022-03-15 03:49] odow opened #190 "Fix cycling detected in tests"
I left quite a few TODOs in the tests:
https://github.com/lanl-ansi/Alpine.jl/blob/ecf084c86d78fbbf3088630dc5e7366354d11a60/test/test_algorithm.jl#L153-L155
We should investigate and/or fix.

[2022-03-16 02:24] odow opened #191 "Incorporate fixes from #182"
Incorporate various fixes that @harshangrjn bundled into https://github.com/lanl-ansi/Alpine.jl/pull/182 but were never merged.

[2022-04-20 17:29] harshangrjn commented on #190
@odow This is an issue with Pavito and not Alpine? If I run Pavito with Gurobi/CPLEX as underlying MIP solver instead of Cbc, the mixed-integer cycling doesn't appear in Pavito.

[2022-04-20 23:51] odow commented on #190
the issue is in Pavito. But the problem is that these tests are flakey, so they should probably be changed to not encounter Pavito's cycling.

[2022-04-20 23:59] harshangrjn commented on #190
Agreed! Was going to update some of these tests in the PR.

[2022-04-30 02:03] harshangrjn commented on #178
This is done to access a few solver-specific attributes of Gurobi (soln pool, etc). But this can be made better for other nlp/minlp solvers as it is mainly used for logging purposes.

[2022-04-30 02:10] #191 closed

[2022-04-30 02:15] harshangrjn commented on #190
@odow From my observations, when an NLP exhibits multiple symmetric arg mins for the global minimum (like (-1,1), (1,1), (1,-1), (-1,-1)), Pavito seems to get into the MI cycling issue when Cbc and Ipopt are the underlying solvers. Of course, this doesn't happen with Gurobi is it's underlying solver. Although, I updated the unit tests in Alpine to make them a bit more meaningful and break this sol

[2022-04-30 02:15] #190 closed

[2022-04-30 02:18] harshangrjn opened #197 "v0.3.0"
@JuliaRegistrator register

[2022-04-30 02:18] JuliaRegistrator commented on #197
Registration pull request created: [JuliaRegistries/General/59397](https://github.com/JuliaRegistries/General/pull/59397)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-04-30 02:35] #197 closed

[2022-05-13 00:08] harshangrjn commented on #181
Though Alpine's issues are fixed here, the upper bounding incumbent found by Juniper is numerically incorrect. While the global optimum for this (min obj.) instance is `358.063127426` (which was verified in BARON), Juniper reports `358.0630085311286` as a local solution, which is numerically close but not a valid bound within Alpine's tolerance (1E-6). Hence Alpine terminates with the issue as tit

[2022-05-19 20:56] #108 closed

[2022-05-19 20:57] #176 closed

[2022-05-19 20:57] #133 closed

[2022-05-19 23:22] #181 closed

[2022-05-19 23:25] harshangrjn opened #199 "v0.4.0"
@JuliaRegistrator register

[2022-05-19 23:25] JuliaRegistrator commented on #199
Registration pull request created: [JuliaRegistries/General/60598](https://github.com/JuliaRegistries/General/pull/60598)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-05-19 23:54] #199 closed

[2022-07-14 01:16] harshangrjn opened #201 "v0.4.1"
@JuliaRegistrator register

[2022-07-14 01:16] JuliaRegistrator commented on #201
Registration pull request created: [JuliaRegistries/General/64203](https://github.com/JuliaRegistries/General/pull/64203)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-07-14 04:36] #201 closed

[2022-08-20 08:04] Lightup1 opened #204 "Fix support for JuMP v1.2"
## Version info
[code]
On julia 1.8.0, Alpine.jl failed to precompile.
I have: ` [4076af6c] JuMP v1.2.0`
## Error message
[code]

[2022-08-21 23:07] odow commented on #204
Thanks. I'll take a look at this. For now, you can fix things by installing JuMP v1.1

[code]
Then restart Julia for the changes to take effect.

[2022-08-23 00:10] #204 closed

[2022-08-23 19:27] Shuvomoy opened #208 "Cannot install Alpine on Julia 1.8"
Hi,

When I try to install Alpine.jl using `] add Alpine`, I get the following error:

[code]

When I run `import Pkg; Pkg.precompile()` I get:

[code]

[2022-08-23 19:49] harshangrjn commented on #208
@Shuvomoy This is fixed in the master branch, which will be released in 0.4.2. Pull Alpine from master and it should work, or give it a day and update to 0.4.2.

[2022-08-23 19:50] harshangrjn commented on #208
#205 #206

[2022-08-23 19:50] #208 closed

[2022-08-23 19:51] harshangrjn opened #209 "v0.4.2"
@JuliaRegistrator register

[2022-08-23 19:52] Shuvomoy commented on #208
Okay sounds good, thanks for the info @harshangrjn

[2022-08-23 19:52] JuliaRegistrator commented on #209
Registration pull request created: [JuliaRegistries/General/66886](https://github.com/JuliaRegistries/General/pull/66886)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-08-23 20:15] #209 closed

[2022-08-24 00:38] Shuvomoy opened #210 "Alpine throws "There are currently 0 solution(s) in the model." for a solvable bilinear optimization problem"
I am trying to solve a bilinear optimization problem using Alpine. If I try Gurobi's bilinear solver it works fine, but Alpine does not.

## Gurobi code

[code]

Gurobi output is:
[code]

While solving the same problem using Alpoine, I am getting `There are currently 0 solution(s) in the model.`

## Alpine code:
[code]

The output is:
[code]

(updated the issue as suggested by @blegat )

[2022-08-24 17:14] harshangrjn commented on #210
@Shuvomoy @blegat  I suspect the issue is not with Alpine, and rather is in Gurobi's presolve while solving linear programs (in your case) within Alpine's OBBT presolve. This seems to be an issue which we have observed on many other QCQPs. Here is the output below with `"Presolve" => 0` while invoking the Gurobi solver and other settings of Alpine as you showed above. Also tested with CPLEX, with

[2022-08-25 11:44] Shuvomoy commented on #210
Okay I see thanks @harshangrjn !

[2022-08-25 11:52] Shuvomoy opened #211 "Alpine cannot use the same Gurobi environment for multiple solves"
Consider the following code where I am trying to use the same Gurobi environment for multiple soves as found in the `Gurobi.jl` documentation [here](https://github.com/jump-dev/Gurobi.jl#reusing-the-same-gurobi-environment-for-multiple-solves). I am trying to do this, because otherwise there are too many `Academic license - for non-commercial use only`.

[code]

The error is:

[code]

After talkin

[2022-08-25 15:51] #210 closed

[2022-08-25 18:51] harshangrjn commented on #211
@ccoffrin Do you have any suggestions for this based on what was done for Juniper to handle Gurobi's environment issue?

[2022-08-25 19:09] ccoffrin commented on #211
As I understand this issue, it has to do with how in Alpine you conduct the check, "do I support this MIP solver?".  In Juniper we don't run into this because we accept any MIP or NLP solver that follow's MOI's API for these classes of problems.

Actually, I don't remember why this check is in Alpine.  Maybe now it can be removed?  If not, @odow can guide us on the best approach for checking the s

[2022-08-25 19:24] odow commented on #211
Yeah this is a duplicate of #178. It's probably easiest to just accept any solver the user throws at you and hope they choose carefully

[2022-08-25 20:01] harshangrjn commented on #211
Thanks @ccoffrin and @odow. It's probably easiest to leave it to the user and reduce other solver related issues like this one. Will update accordingly.

[2022-08-26 11:18] blegat commented on #211
I agree, the only place where checks are needed is when Alpine sets solvers specific attributes to Ipopt but it should accept any solver as input

[2022-08-29 04:10] harshangrjn opened #214 "v0.4.3"
@JuliaRegistrator register

[2022-08-29 04:10] JuliaRegistrator commented on #214
Registration pull request created: [JuliaRegistries/General/67251](https://github.com/JuliaRegistries/General/pull/67251)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-08-29 04:13] harshangrjn commented on #211
@Shuvomoy This issue has been resolved in v0.4.3. Also the way Gurobi is invoked in the same environment is updated here: https://github.com/lanl-ansi/Alpine.jl/blob/9844e7deec33b1df4708f66335231e6fa0d85bb2/examples/optimizers.jl#L2

[2022-08-29 04:13] #211 closed

[2022-08-29 04:14] harshangrjn commented on #178
v0.4.3 addresses this issue.

[2022-08-29 04:14] #178 closed

[2022-08-29 04:29] #214 closed

[2022-08-29 12:04] Shuvomoy commented on #211
Great, thanks @harshangrjn

[2022-08-31 15:54] kaarthiksundar opened #215 "Alpine major refactor"
@harshangrjn @sujeevraja

This issue is to keep track of the planned refactor and new features for Alpine.jl . To complete this refactor, the following things need to be taken care of. This can be tagged as milestone for v1.0 of Alpine.jl conforming with all other JuMP-based solvers.

- [x] Migrate all Piecewise Relaxations and LP relaxations to PolyhedralRelaxations.jl
- - [x] Univariate function

[2022-08-31 16:03] sujeevraja commented on #215
Plan looks great.

[2022-08-31 16:24] harshangrjn commented on #215
@kaarthiksundar Thanks for making these decisions independently without having sufficient discussions with relevant folks around. I am not clear on why any of these features need to be moved out of Alpine. Although I agree with a major refactoring for Alpine, in my opinion, cleaning up Alpine and having dedicated modules within Alpine to perform any of these features independently (very much like

[2022-08-31 16:47] kaarthiksundar commented on #215
Great then. Let us keep this issue open, so that we can keep track of progress. This hopefully should be done in a year's time depending on time bandwidth. As things start combining, I will send a Pull Request. We will also modify tasks as we make progress.

[2022-08-31 16:55] harshangrjn commented on #215
Closing it for now, but we can always re-open considering how progress happens.

[2022-08-31 16:55] #215 closed

[2022-08-31 17:30] harshangrjn opened #216 "Alpine refactoring (v1.0 milestone)"
This issue is to keep track of the planned major refactoring for Alpine.jl. To complete this refactor, the following things need to be taken care of. This can be tagged as milestone for **v1.0** of Alpine.jl

**Relaxations and Algorithms**
- [ ] Implement/migrate all univariate piecewise relaxations and LP relaxations within Alpine, based on this paper: https://doi.org/10.1007/s11081-021-09609-z
-

[2022-08-31 17:32] harshangrjn commented on #216
@kaarthiksundar Some of these were based out on your suggestions. Feel free to add to this list.

[2022-08-31 18:06] kaarthiksundar commented on #216
Relaxations and algorithms - all of it is now implemented in PolyhedralRelaxations including unit tests. So I think it is double work to do it again in an independently invokable manner.

I will work on implementing the presolve methods as modules. After I am done with that I will work on pulling everything to Alpine.

[2022-08-31 18:21] harshangrjn commented on #216
Firstly, we did not have such plans/discussions, whatsoever, to replicate and move relaxations and algorithms to separate packages. So I strongly think let's keep these two within Alpine. Alpine mainly needs univariate relaxations for transcendental functions, which we can always implement later depending on availability of time and resources. If you concur, we can go ahead with presolve modules a

[2022-08-31 19:20] kaarthiksundar commented on #216
I will give it some thought. I am mainly thinking on the software engineering aspects because the two main goals implementing all the relaxations in Alpine while at the same time wanting independent invokability of the relaxations are at odds with each other. The separate packages idea give independent invokability that you are asking for anyway and using them within Alpine will ensure easily main

[2022-08-31 19:57] harshangrjn commented on #216
As mentioned earlier very clearly, this invokability is quite straightforward to be done in Alpine too. All the modules of relaxations will stay separate, and Alpine's partitioning algorithm (with more options which is currently being implemented) will take care of interplay between relaxations, parsing and heuristics, as it is already done within it. Moreover, having relaxations and algorithms wi

[2022-09-06 05:15] harshangrjn opened #217 "Releases"
@JuliaRegistrator register

[2022-09-06 05:15] JuliaRegistrator commented on #217
Registration pull request created: [JuliaRegistries/General/67757](https://github.com/JuliaRegistries/General/pull/67757)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-09-06 05:34] #217 closed

[2022-09-07 17:55] harshangrjn commented on #177
@mzagorowska Interestingly, I just looked at this issue. This isn't an issue/bug in Alpine. Since you have created a quadratic monomial in `x[1]*x[1]`, this automatically gets reformulated as `x[1]^2` within Alpine. Once this is a quadratic function, you can use Gurobi as the underlying `mip_solver` and it runs without any issue. Although not the best, if you still prefer to use an open-source `mi

[2022-09-07 17:55] #177 closed

[2022-09-24 23:36] harshangrjn commented on #217
@JuliaRegistrator register

[2022-09-24 23:36] JuliaRegistrator commented on #217
Registration pull request created: [JuliaRegistries/General/68912](https://github.com/JuliaRegistries/General/pull/68912)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2022-09-27 16:42] felipemarkson opened #220 "Quadratic Constraints and Functions are passed to MILP solvers."
When you are using an pure MILP solver, like `Cbc` or  `HiGHS`, `Alpine` is not applying the appropriate relaxations on quadratic functions.

The same issue is not found on `Gurobi` because `Gurobi` can handle with quadratic constraints.

Bellow you can see a minimal reproducible example:

[code]

Here you can see the Error message:
![image](https://user-images.githubusercontent.com/47871564/19258

[2022-09-27 16:56] felipemarkson commented on #220
Thanks!

So, I suggest remove MILP solvers from the documentation.
Or warning the user about this issue on the documentation as well.

[2022-09-27 17:02] harshangrjn commented on #220
@felipemarkson I agree that the docs should clearly mention this. Regarding the `x^2 >= 1` constraint, note that Alpine reformulates this into a convex constraint and applies partitioning to capture the non-convex side of the constraint. This reformulated convex MIP shouldn't have any issue to be be able to solve in Pavito.

[2022-09-27 17:09] felipemarkson commented on #220
Sorry I was my mistake!

You are right! Using Pavito instead of an pure `MILP` should work

[2022-09-27 17:25] harshangrjn commented on #220
Here is the script to run your NLP using Pavito and Ipopt within Alpine, which runs fine.

[code]

[2022-09-27 17:26] felipemarkson opened #221 "`Alpine` have an issue with `@NLconstraint` created from a quadratic `@expression`"
_NOTE: This issue was created after the changes indicated on #220._

When you try to create a`@NLconstraint` quadratic constraint from a `@expression`, `Alpine` throws an error.

The issue is not found if using only `Pavito` to solve the problem, so I think the problem is not the MIP solver.

The issue is not found if the `@expression` is linear.

[code]

Here you can see the Error message:
![imag

[2022-09-27 17:27] felipemarkson commented on #220
Thanks! this model works here!

Should I close this issue? Or is it  a documentation issue?

[2022-09-27 17:29] harshangrjn commented on #220
Feel free to close it. Have made note of docs update.

[2022-09-27 17:30] #220 closed

[2022-09-27 17:42] harshangrjn commented on #221
Since it is a nonlinear term and that Alpine recognizes it as an `NLexpression`, write the above model as follows, and it should work:
[code]

[2022-09-27 18:28] harshangrjn commented on #221
Good point! In the above example, since the same variable `x` and expression `expr` are shared across both convex and non-convex constraint, it wouldn't make any difference. But for cases with different variables with subset of them in convex constraints, Alpine internally detects them as convex and excludes them from partitioning to reduce the overhead. In this case, it is upon the user to use `e

[2022-09-27 19:01] felipemarkson commented on #221
As it is a limitation of the solver, this could also be in the documentation!

Thanks!

[2022-09-27 19:21] felipemarkson commented on #221
@harshangrjn could you leave this issue open?

Maybe, I will try to fix it.

[2022-10-20 00:03] freemin7 opened #223 "ERROR: type Symbol has no field head"
[code]

Offending code:
[code]
I hope i got the context right.
[code]

[2022-10-20 00:26] odow commented on #223
I can't reproduce. I get
[code]

[2022-10-20 00:26] odow commented on #223
What is
[code]

[2022-10-20 00:28] freemin7 commented on #223
wait, run it with alpine not juniper. Copied the wrong version.

[2022-10-20 00:30] odow commented on #223
Can reproduce. Will take a look.

[2022-10-20 00:39] odow commented on #223
Just as an FYI for future reports, it helps _immensely_ if you can isolate a minimal reproducible example. In this case:
[code]

[2022-10-20 00:53] odow commented on #223
This might be one for @harshangrjn. Does Alpine support `x^y`?

The underling problem is here. The constraint coming in is `x^1.852 - 1 <= 0`, but `is_strucural` is false:
https://github.com/lanl-ansi/Alpine.jl/blob/c6da8b92cf34bc1c88c1f488285a90d63fd3df55/src/nlexpr.jl#L64-L70

https://github.com/lanl-ansi/Alpine.jl/blob/c6da8b92cf34bc1c88c1f488285a90d63fd3df55/src/nlexpr.jl#L201-L224

And so the

[2022-10-20 01:05] harshangrjn commented on #223
@odow non-integral (and non-positive) exponents are not supported by Alpine at this point. But the error it is reporting certainly needs to be fixed, and a more meaningful message saying fractional exponents aren't supported in Alpine will be useful.

[2022-10-20 01:17] freemin7 commented on #223
I am a bit surprised positive fractional exponents are not handled. `f(y) == x^(a/b)` should be equivalent to `f(y) == z`, `z^b == z^a`, `z>=0` sound like something a bridge could handle. I will rewrite the constraint with that in mind

[2022-10-20 13:22] harshangrjn commented on #223
@freemin7 The idea for leaving behind these exponents is that we didn't want to handle exponents which aren't supported by Gurobi, after applying relaxations at this point. But having fractional exponents shouldn't be too hard to include with a simple outer approximation.

[2022-11-02 23:20] harshangrjn commented on #223
@odow The issue is not with `is_strucural` but is with the lack of check for fractional exponents in the constraints similar to the objective expression here: https://github.com/lanl-ansi/Alpine.jl/blob/c6da8b92cf34bc1c88c1f488285a90d63fd3df55/src/nlexpr.jl#L55

`generic_linear` classification is happening since the constraint is convex, although the naming is quite confusing. It needs some re-nam

[2022-11-02 23:20] #223 closed

[2022-11-02 23:21] harshangrjn commented on #221
This should be addressed in `v0.5.2`

[2022-11-02 23:21] #221 closed

[2022-11-05 06:17] harshangrjn commented on #217
@JuliaRegistrator register

[2022-11-05 06:18] JuliaRegistrator commented on #217
Registration pull request created: [JuliaRegistries/General/71690](https://github.com/JuliaRegistries/General/pull/71690)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can